* http://cassandra.apache.org/doc/latest/getting_started/

* https://help.aiven.io/en/articles/1803299-getting-started-with-aiven-for-cassandra

In [ ]:
# https://github.com/datastax/python-driver

In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\programdata\anaconda3\lib\site-packages (3.22.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from cassandra-driver) (1.12.0)
Requirement already satisfied: geomet<0.2,>=0.1 in c:\programdata\anaconda3\lib\site-packages (from cassandra-driver) (0.1.2)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from geomet<0.2,>=0.1->cassandra-driver) (7.0)

In [ ]:
!pip install --user cassandra-driver

In [2]:
from cassandra.cluster import Cluster

In [ ]:
cluster = Cluster()

In [4]:
class Config:
    ca_path='ca.pem'
    host='cassandra-3630668e-valdis-c169.aivencloud.com'
    password='realpwneeded'
    port=23114
    username='avnadmin'

In [3]:
# Copyright (c) 2018 Aiven, Helsinki, Finland. https://aiven.io/

import ssl

from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from cassandra.policies import DCAwareRoundRobinPolicy


def cassandra_example(args):
    auth_provider = PlainTextAuthProvider(args.username, args.password)
    ssl_options = {"ca_certs": args.ca_path, "cert_reqs": ssl.CERT_REQUIRED}
    with Cluster([args.host], port=args.port, ssl_options=ssl_options, auth_provider=auth_provider,
                 load_balancing_policy=DCAwareRoundRobinPolicy(local_dc='aiven')) as cluster:
        with cluster.connect() as session:
            # Create a keyspace
            session.execute("""
                CREATE KEYSPACE IF NOT EXISTS example_keyspace
                WITH REPLICATION = {'class': 'NetworkTopologyStrategy', 'aiven': 3}
            """)

            # Create a table
            session.execute("""
                CREATE TABLE IF NOT EXISTS example_keyspace.example_python (
                    id int PRIMARY KEY,
                    message text
                )
            """)

            # Insert some data
            for i in range(10):
                session.execute("""
                    INSERT INTO example_keyspace.example_python (id, message)
                    VALUES (%s, %s)
                """, (i, "Hello from Python!"))

            # Read it back
            for row in session.execute("SELECT id, message FROM example_keyspace.example_python"):
                print("Row: id = {}, message = {}".format(row.id, row.message))

In [63]:
def cassandra_qry(args, qry):
    auth_provider = PlainTextAuthProvider(args.username, args.password)
    ssl_options = {"ca_certs": args.ca_path, "cert_reqs": ssl.CERT_REQUIRED}
    with Cluster([args.host], port=args.port, ssl_options=ssl_options, auth_provider=auth_provider,
                 load_balancing_policy=DCAwareRoundRobinPolicy(local_dc='aiven')) as cluster:
        with cluster.connect() as session:
            for row in session.execute(qry):
                print(f"Row: id = {row.id}")
                for key,value in row._asdict().items():
                    print(f"Column {key} - Value {value}")

In [27]:
auth_provider = PlainTextAuthProvider(args.username, args.password)
ssl_options = {"ca_certs": args.ca_path, "cert_reqs": ssl.CERT_REQUIRED}
cluster = Cluster([args.host], port=args.port, ssl_options=ssl_options, auth_provider=auth_provider,\
                  load_balancing_policy=DCAwareRoundRobinPolicy(local_dc='aiven'))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Legacy execution parameters will be removed in 4.0. Consider using execution profiles.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Using ssl_options without ssl_context is deprecated and will result in an error in the next major release. Please use ssl_context to prepare for that release.
  after removing the cwd from sys.path.

In [28]:
session = cluster.connect()

In [30]:
session.execute("""
                CREATE KEYSPACE IF NOT EXISTS mydb
                WITH REPLICATION = {'class': 'NetworkTopologyStrategy', 'aiven': 3}
            """)

In [31]:
sess = session # one mor allias

In [32]:
sess.execute("""
                    CREATE TABLE IF NOT EXISTS mydb.tasks(
                    id int PRIMARY KEY,
                    task text,
                    created timestamp,
                    finished boolean,
                    cost float
                )
""")

In [33]:
r = sess.execute("""
    INSERT INTO mydb.tasks (id, task) VALUES (101, 'Buy Milk')
""")
print(r)

<cassandra.cluster.ResultSet object at 0x0000020F641B7438>

In [67]:
id = 10
import random

In [80]:
id += 1
cost = 4 + random.random()*2
r = sess.execute(f"""
    INSERT INTO mydb.tasks (id, task, created, finished, cost) 
    VALUES ({id}, 'Buy Dinner', toTimeStamp(now()), False, {cost})
""")
print(r)

<cassandra.cluster.ResultSet object at 0x0000020F6405FBE0>

In [89]:
r = sess.execute("""
    SELECT * FROM mydb.tasks
""")
reslist = list(r)
print(reslist)

[Row(id=10, cost=None, created=datetime.datetime(2020, 3, 7, 10, 0, 27, 78000), finished=None, task='Buy Milk Again'), Row(id=16, cost=5.074661731719971, created=datetime.datetime(2020, 3, 7, 10, 22, 52, 242000), finished=False, task='Buy Milk Again'), Row(id=13, cost=5.310240268707275, created=datetime.datetime(2020, 3, 7, 10, 22, 51, 551000), finished=False, task='Buy Milk Again'), Row(id=11, cost=4.410859107971191, created=datetime.datetime(2020, 3, 7, 10, 22, 49, 771000), finished=False, task='Buy Milk Again'), Row(id=19, cost=4.023677825927734, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 363000), finished=False, task='Buy Dinner'), Row(id=2, cost=None, created=datetime.datetime(2020, 3, 7, 10, 0, 5, 683000), finished=None, task='Buy Milk'), Row(id=18, cost=4.682769298553467, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 916000), finished=False, task='Buy Dinner'), Row(id=15, cost=4.037034034729004, created=datetime.datetime(2020, 3, 7, 10, 22, 52, 81000), finished=False, task='Buy Milk Again'), Row(id=22, cost=4.502995491027832, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 845000), finished=False, task='Buy Dinner'), Row(id=20, cost=5.819021224975586, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 544000), finished=False, task='Buy Dinner'), Row(id=9, cost=None, created=datetime.datetime(2020, 3, 7, 10, 0, 25, 719000), finished=None, task='Buy Milk Again'), Row(id=14, cost=5.477428913116455, created=datetime.datetime(2020, 3, 7, 10, 22, 51, 913000), finished=False, task='Buy Milk Again'), Row(id=21, cost=4.173734188079834, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 710000), finished=False, task='Buy Dinner'), Row(id=17, cost=4.759654998779297, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 232000), finished=False, task='Buy Dinner'), Row(id=101, cost=None, created=None, finished=None, task='Buy Milk'), Row(id=12, cost=5.735809803009033, created=datetime.datetime(2020, 3, 7, 10, 22, 50, 917000), finished=False, task='Buy Milk Again')]

In [90]:
dinnerlist = [row for row in reslist if row.task == 'Buy Dinner']
dinnerlist

[Row(id=19, cost=4.023677825927734, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 363000), finished=False, task='Buy Dinner'),
 Row(id=18, cost=4.682769298553467, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 916000), finished=False, task='Buy Dinner'),
 Row(id=22, cost=4.502995491027832, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 845000), finished=False, task='Buy Dinner'),
 Row(id=20, cost=5.819021224975586, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 544000), finished=False, task='Buy Dinner'),
 Row(id=21, cost=4.173734188079834, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 710000), finished=False, task='Buy Dinner'),
 Row(id=17, cost=4.759654998779297, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 232000), finished=False, task='Buy Dinner')]

In [91]:
cheapfood = [row for row in dinnerlist if row.cost < 5]
cheapfood

[Row(id=19, cost=4.023677825927734, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 363000), finished=False, task='Buy Dinner'),
 Row(id=18, cost=4.682769298553467, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 916000), finished=False, task='Buy Dinner'),
 Row(id=22, cost=4.502995491027832, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 845000), finished=False, task='Buy Dinner'),
 Row(id=21, cost=4.173734188079834, created=datetime.datetime(2020, 3, 7, 10, 23, 21, 710000), finished=False, task='Buy Dinner'),
 Row(id=17, cost=4.759654998779297, created=datetime.datetime(2020, 3, 7, 10, 23, 20, 232000), finished=False, task='Buy Dinner')]

In [ ]:
id += 1
r = sess.execute(f"""
    INSERT INTO mydb.tasks (id, task, created) 
    VALUES ({id}, 'Get Dinner', toTimeStamp(now()))
""")
print(r)

In [74]:
r = sess.execute("""
    SELECT * FROM mydb.tasks
""")
results = list(r)
len(results)

10

In [65]:
r = sess.execute("""
    SELECT * FROM mydb.tasks
    WHERE id = 101
""")
results = list(r)
len(results)

1

In [66]:
print(results)

[Row(id=101, cost=None, created=None, finished=None, task='Buy Milk')]

In [49]:
row = results[0]
row

Row(id=10, cost=None, created=datetime.datetime(2020, 3, 7, 10, 0, 27, 78000), finished=None, task='Buy Milk Again')

In [50]:
type(row)

cassandra.io.asyncorereactor.Row

In [53]:
dir(row)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_fields',
 '_fields_defaults',
 '_make',
 '_replace',
 'cost',
 'count',
 'created',
 'finished',
 'id',
 'index',
 'task']

In [55]:
for value in row:
    print(value)

10
None
2020-03-07 10:00:27.078000
None
Buy Milk Again

In [59]:
row._fields

('id', 'cost', 'created', 'finished', 'task')

In [61]:
row._asdict()

OrderedDict([('id', 10),
             ('cost', None),
             ('created', datetime.datetime(2020, 3, 7, 10, 0, 27, 78000)),
             ('finished', None),
             ('task', 'Buy Milk Again')])

In [62]:
for key,value in row._asdict().items():
    print(f"Column {key} - Value {value}")

Column id - Value 10
Column cost - Value None
Column created - Value 2020-03-07 10:00:27.078000
Column finished - Value None
Column task - Value Buy Milk Again

In [64]:
# qry = "SELECT id, message FROM example_keyspace.example_python"
qry = "INSERT INTO example_keyspace.example_python (id, message) VALUES (15, 'Valdis')"
qry = "SELECT id, message FROM example_keyspace.example_python"
cassandra_qry(args, qry)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Legacy execution parameters will be removed in 4.0. Consider using execution profiles.
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Using ssl_options without ssl_context is deprecated and will result in an error in the next major release. Please use ssl_context to prepare for that release.
  """
WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 35.228.82.138:23114. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 4 for 35.228.82.138:23114. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Row: id = 5
Column id - Value 5
Column message - Value Hello from Python!
Row: id = 1
Column id - Value 1
Column message - Value Hello from Python!
Row: id = 8
Column id - Value 8
Column message - Value Hello from Python!
Row: id = 0
Column id - Value 0
Column message - Value Hello from Python!
Row: id = 2
Column id - Value 2
Column message - Value Hello from Python!
Row: id = 4
Column id - Value 4
Column message - Value Hello from Python!
Row: id = 15
Column id - Value 15
Column message - Value Valdis
Row: id = 7
Column id - Value 7
Column message - Value Hello from Python!
Row: id = 6
Column id - Value 6
Column message - Value Hello from Python!
Row: id = 9
Column id - Value 9
Column message - Value Hello from Python!
Row: id = 3
Column id - Value 3
Column message - Value Hello from Python!

In [6]:
args = Config()

In [7]:
args.ca_path

'ca.pem'

In [8]:
args.username

'avnadmin'

In [9]:
cassandra_example(args)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: Legacy execution parameters will be removed in 4.0. Consider using execution profiles.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: Using ssl_options without ssl_context is deprecated and will result in an error in the next major release. Please use ssl_context to prepare for that release.

Row: id = 5, message = Hello from Python!
Row: id = 1, message = Hello from Python!
Row: id = 8, message = Hello from Python!
Row: id = 0, message = Hello from Python!
Row: id = 2, message = Hello from Python!
Row: id = 4, message = Hello from Python!
Row: id = 7, message = Hello from Python!
Row: id = 6, message = Hello from Python!
Row: id = 9, message = Hello from Python!
Row: id = 3, message = Hello from Python!