In [1]:
import pymongo
import json
import random

In [ ]:
# if error then we run this cell to install
!pip install pymongo

In [5]:
user = "Acc02"
pw = "kaste2900"
# Connect,
client = pymongo.MongoClient(f"mongodb://{user}:{pw}@ds147190.mlab.com:47190/cleanclimb",retryWrites=False)
#  Select Database,
db = client.cleanclimb # cleanclimb is the name of the database (that Mlab gave my account)
# Create New Collection(lazily)
mycollection = db[f'MyRandomColl_{random.randint(1,100)}']
#insert a new document(record),
result = mycollection.insert_one({"weather2":"stillsunny"})
# show all collections(tables)
db.list_collection_names()

['system.indexes',
 'mycollname',
 'MyRandomColl_60',
 'Liene1',
 'Valdis_44',
 'MyRandomColl_53',
 'Ilze02',
 'Sana']

In [9]:
newcoll = db['Valdis_44']
newcoll.insert_one({"hunger":9000}) #the table is created here and values inserted or existing table is updated
cursor = newcoll.find({}) # similar to select * from sometable in SQL
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}]

In [10]:
newcoll.insert_one({"hunger":9001,"food":["potatoes","milk","chocolate"]})
cursor = newcoll.find({}) # similar to select * from sometable in SQL
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}, {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}]

In [14]:
cursor = newcoll.find({})
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}, {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}]

In [15]:
list(newcoll.find({}))

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'},
 {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']}]