In [1]:
import pymongo
import json
import random

In [ ]:
# if error then we run this cell to install
!pip install pymongo

In [5]:
user = "Acc02"
pw = "kaste2900"
# Connect,
client = pymongo.MongoClient(f"mongodb://{user}:{pw}@ds147190.mlab.com:47190/cleanclimb",retryWrites=False)
#  Select Database,
db = client.cleanclimb # cleanclimb is the name of the database (that Mlab gave my account)
# Create New Collection(lazily)
mycollection = db[f'MyRandomColl_{random.randint(1,100)}']
#insert a new document(record),
result = mycollection.insert_one({"weather2":"stillsunny"})
# show all collections(tables)
db.list_collection_names()

['system.indexes',
 'mycollname',
 'MyRandomColl_60',
 'Liene1',
 'Valdis_44',
 'MyRandomColl_53',
 'Ilze02',
 'Sana']

In [9]:
newcoll = db['Valdis_44']
newcoll.insert_one({"hunger":9000}) #the table is created here and values inserted or existing table is updated
cursor = newcoll.find({}) # similar to select * from sometable in SQL
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}]

In [22]:
newcoll.insert_one({"hunger":9001,"food":["potatoes","milk","chocolate"]})
cursor = newcoll.find({}) # similar to select * from sometable in SQL
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}, {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}, {'_id': ObjectId('5e5a3c62278f777756a1be66'), 'hunger': 9000}, {'_id': ObjectId('5e5a3c65278f777756a1be67'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}, {'_id': ObjectId('5e5a3cf77896ae1849982f39'), 'hunger': 9000}, {'_id': ObjectId('5e5a3cfb7896ae1849982f3a'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}, {'_id': ObjectId('5e5a3cffa857120a28e9b23b'), 'newdata': 4444}, {'_id': ObjectId('5e5a3d627896ae1849982f3b'), 'newdataa': 444}, {'_id': ObjectId('5e5a3d8ea857120a28e9b23c'), 'somekey': 'somevalue', 'anotherkey': 4444}, {'_id': ObjectId('5e5a3d8ea857120a28e9b23d'), 'anotherkey': 334324, 'differentkey': [3, 2, 324, 32, 4234, 'Valdis']}, {'_id': ObjectId('5e5a3e7da857120a28e9b23e'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}]

In [14]:
cursor = newcoll.find({})
results = [res for res in cursor]
print(results)

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'}, {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000}, {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000}, {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'), 'hunger': 9001, 'food': ['potatoes', 'milk', 'chocolate']}]

In [15]:
list(newcoll.find({}))

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'},
 {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']}]

In [16]:
db.Valdis_44.insert_one({"newdata":4444})
list(db.Valdis_44.find({}))

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'},
 {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3c62278f777756a1be66'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3c65278f777756a1be67'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cf77896ae1849982f39'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3cfb7896ae1849982f3a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cffa857120a28e9b23b'), 'newdata': 4444}]

In [17]:
listofdicts = [
    {"somekey":"somevalue","anotherkey":4444},
    {"anotherkey":334324, "differentkey":[3,2,324,32,4234,"Valdis"]}
]
listofdicts

[{'somekey': 'somevalue', 'anotherkey': 4444},
 {'anotherkey': 334324, 'differentkey': [3, 2, 324, 32, 4234, 'Valdis']}]

In [18]:
db.Valdis_44.insert_many(listofdicts)
list(db.Valdis_44.find({}))

[{'_id': ObjectId('5e5a377da8571240dc3264fe'), 'weather2': 'stillsunny'},
 {'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3c62278f777756a1be66'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3c65278f777756a1be67'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cf77896ae1849982f39'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3cfb7896ae1849982f3a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cffa857120a28e9b23b'), 'newdata': 4444},
 {'_id': ObjectId('5e5a3d627896ae1849982f3b'), 'newdataa': 444},
 {'_id': ObjectId('5e5a3d8ea857120a28e9b23c'),
  'somekey': 'somevalue',
  'anotherkey': 4444},
 {'_id': ObjectId('5e5a3d8ea857120a28e9b23d'),
  'anotherkey': 334324,
  'differentkey': [3, 2, 324, 32, 4234, 'Valdis']}]

In [21]:
list(db.Valdis_44.find({"hunger":9000})) #select all documents where key hunger has value 9000

[{'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3c62278f777756a1be66'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3cf77896ae1849982f39'), 'hunger': 9000}]

In [24]:
list(db.Valdis_44.find({"hunger":{"$gt":9000}})) # find all documents where hunger is over 9000

[{'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3c65278f777756a1be67'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cfb7896ae1849982f3a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3e7da857120a28e9b23e'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']}]

In [31]:
db.Valdis_44.insert_one({"hunger":9001, "school":"Accenture"})
list(db.Valdis_44.find({"hunger":{"$gt":9000}}))

[{'_id': ObjectId('5e5a3ae0a857120a28e9b23a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3c65278f777756a1be67'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3cfb7896ae1849982f3a'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3e7da857120a28e9b23e'),
  'hunger': 9001,
  'food': ['potatoes', 'milk', 'chocolate']},
 {'_id': ObjectId('5e5a3f6aa857120a28e9b23f'),
  'hunger': 9001,
  'school': 'Accenture'},
 {'_id': ObjectId('5e5a48bfa857120a28e9b240'),
  'hunger': 9001,
  'school': 'Accenture'},
 {'_id': ObjectId('5e5a48d7a857120a28e9b241'),
  'hunger': 9001,
  'school': 'Accenture'}]

In [32]:
len(list(db.Valdis_44.find({"hunger":{"$gt":9000}})))

7

In [33]:
db.Valdis_44.count({"hunger":{"$gt":9000}})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

7

In [41]:
db.Valdis_44.count_documents({"hunger":{"$gt":9000}}) #in SQL SELECT COUNT(*) from table WHERE utt

3

In [29]:
# https://docs.mongodb.com/manual/reference/operator/query-comparison/
list(db.Valdis_44.find({"hunger":{"$gt":9000}, "school":"Accenture"})) # so hunger >9000 AND school equal to Accenture

[{'_id': ObjectId('5e5a3f6aa857120a28e9b23f'),
  'hunger': 9001,
  'school': 'Accenture'}]

In [35]:
# https://docs.mongodb.com/manual/tutorial/remove-documents/
db.Valdis_44.delete_one({"hunger":{"$gt":9000}})
db.Valdis_44.count_documents({"hunger":{"$gt":9000}})

6

In [44]:
db.Valdis_44.update_one({"hunger":{"$gt":9000}},{"$set": {"hunger":8050,"happiness":"great"}})
db.Valdis_44.count_documents({"hunger":{"$gt":9000}})

1

In [60]:
from bson.objectid import ObjectId

In [61]:
db.Valdis_44.update_one({"_id":ObjectId('5e5a3a56a857120a28e9b238')},{"$set": {"hunger":18050,"happiness":"great"}})
db.Valdis_44.count_documents({"hunger":{"$gt":9000}})

1

In [62]:
# we can get all documents which have hunger key
reslist = list(db.Valdis_44.find({"hunger":{ "$exists": True }}))
reslist

[{'_id': ObjectId('5e5a3a1ba857120a28e9b236'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a21a857120a28e9b237'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3a57a857120a28e9b239'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3c62278f777756a1be66'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3cf77896ae1849982f39'), 'hunger': 9000},
 {'_id': ObjectId('5e5a3f6aa857120a28e9b23f'),
  'hunger': 8000,
  'school': 'Accenture',
  'happiness': 'great'},
 {'_id': ObjectId('5e5a48bfa857120a28e9b240'),
  'hunger': 8050,
  'school': 'Accenture',
  'happiness': 'great'},
 {'_id': ObjectId('5e5a48d7a857120a28e9b241'),
  'hunger': 8000,
  'school': 'Accenture',
  'happiness': 'great'},
 {'_id': ObjectId('5e5a3a56a857120a28e9b238'),
  'hunger': 18050,
  'happiness': 'great'}]

In [51]:
reslist[0]['hunger']

9000

In [63]:
total = 0
for el in reslist:
    total += el['hunger']
total, total/len(reslist)

(87100, 9677.777777777777)

In [52]:
import pandas as pd

In [54]:
df = pd.DataFrame(reslist)
df

                        _id happiness  hunger     school
0  5e5a3a1ba857120a28e9b236       NaN    9000        NaN
1  5e5a3a21a857120a28e9b237       NaN    9000        NaN
2  5e5a3a56a857120a28e9b238       NaN    9000        NaN
3  5e5a3a57a857120a28e9b239       NaN    9000        NaN
4  5e5a3c62278f777756a1be66       NaN    9000        NaN
5  5e5a3cf77896ae1849982f39       NaN    9000        NaN
6  5e5a3f6aa857120a28e9b23f     great    8000  Accenture
7  5e5a48bfa857120a28e9b240     great    8050  Accenture
8  5e5a48d7a857120a28e9b241     great    8000  Accenture

In [55]:
df['hunger'].describe()

count       9.000000
mean     8672.222222
std       491.878485
min      8000.000000
25%      8050.000000
50%      9000.000000
75%      9000.000000
max      9000.000000
Name: hunger, dtype: float64

In [67]:
mock = db['mock']
mock.insert_one({"Name":"Valdis"})
list(mock.find({}))

[{'_id': ObjectId('5e5a5000a857120a28e9b242'), 'Name': 'Valdis'}]

In [78]:
list(mock.find({}))

[{'_id': ObjectId('5e5a5000a857120a28e9b242'), 'Name': 'Valdis'},
 {'_id': ObjectId('5e5a504c7896ae1849982f3d'), 'Name': 'Sana'},
 {'_id': ObjectId('5e5a50531571784c5d492508'), 'Name': 'Ilze'},
 {'_id': ObjectId('5e5a50944548491d202df58b'), 'Name': 'Liene'},
 {'_id': ObjectId('5e5a50d2c529bae9183013dd'), 'Name': 'Inese'}]

In [79]:
with open('MOCK_DATA.json') as f:
    mydata = json.load(f)
mydata

[{'id': 1,
  'first_name': 'Valdis',
  'last_name': 'Northgraves',
  'email': 'vnorthgraves0@japanpost.jp',
  'gender': 'Male',
  'ip_address': '182.131.114.164'},
 {'id': 2,
  'first_name': 'Valdis',
  'last_name': 'Helsdon',
  'email': 'vhelsdon1@flickr.com',
  'gender': 'Female',
  'ip_address': '89.230.232.169'},
 {'id': 3,
  'first_name': 'Valdis',
  'last_name': 'McCombe',
  'email': 'vmccombe2@squidoo.com',
  'gender': 'Male',
  'ip_address': '1.99.23.215'},
 {'id': 4,
  'first_name': 'Valdis',
  'last_name': 'Alltimes',
  'email': 'valltimes3@statcounter.com',
  'gender': 'Male',
  'ip_address': '156.132.196.74'},
 {'id': 5,
  'first_name': 'Valdis',
  'last_name': 'Joburn',
  'email': 'vjoburn4@nasa.gov',
  'gender': 'Male',
  'ip_address': '125.225.54.96'},
 {'id': 6,
  'first_name': 'Valdis',
  'last_name': 'Pethybridge',
  'email': 'vpethybridge5@macromedia.com',
  'gender': 'Female',
  'ip_address': '97.78.69.199'},
 {'id': 7,
  'first_name': 'Valdis',
  'last_name': 'Windows',
  'email': 'vwindows6@tinypic.com',
  'gender': 'Female',
  'ip_address': '223.218.19.48'},
 {'id': 8,
  'first_name': 'Valdis',
  'last_name': 'Kedslie',
  'email': 'vkedslie7@eepurl.com',
  'gender': 'Male',
  'ip_address': '57.126.72.176'},
 {'id': 9,
  'first_name': 'Valdis',
  'last_name': 'Elkin',
  'email': 'velkin8@bluehost.com',
  'gender': 'Female',
  'ip_address': '53.197.46.172'},
 {'id': 10,
  'first_name': 'Valdis',
  'last_name': 'Probets',
  'email': 'vprobets9@barnesandnoble.com',
  'gender': 'Female',
  'ip_address': '192.251.86.110'}]

In [80]:
rawjson = """[{"id":1,"first_name":"Valdis","last_name":"Northgraves","email":"vnorthgraves0@japanpost.jp","gender":"Male","ip_address":"182.131.114.164"},
{"id":2,"first_name":"Valdis","last_name":"Helsdon","email":"vhelsdon1@flickr.com","gender":"Female","ip_address":"89.230.232.169"},
{"id":3,"first_name":"Valdis","last_name":"McCombe","email":"vmccombe2@squidoo.com","gender":"Male","ip_address":"1.99.23.215"},
{"id":4,"first_name":"Valdis","last_name":"Alltimes","email":"valltimes3@statcounter.com","gender":"Male","ip_address":"156.132.196.74"},
{"id":5,"first_name":"Valdis","last_name":"Joburn","email":"vjoburn4@nasa.gov","gender":"Male","ip_address":"125.225.54.96"},
{"id":6,"first_name":"Valdis","last_name":"Pethybridge","email":"vpethybridge5@macromedia.com","gender":"Female","ip_address":"97.78.69.199"},
{"id":7,"first_name":"Valdis","last_name":"Windows","email":"vwindows6@tinypic.com","gender":"Female","ip_address":"223.218.19.48"},
{"id":8,"first_name":"Valdis","last_name":"Kedslie","email":"vkedslie7@eepurl.com","gender":"Male","ip_address":"57.126.72.176"},
{"id":9,"first_name":"Valdis","last_name":"Elkin","email":"velkin8@bluehost.com","gender":"Female","ip_address":"53.197.46.172"},
{"id":10,"first_name":"Valdis","last_name":"Probets","email":"vprobets9@barnesandnoble.com","gender":"Female","ip_address":"192.251.86.110"}]"""

In [81]:
mydata2 = json.loads(rawjson)
mydata2

[{'id': 1,
  'first_name': 'Valdis',
  'last_name': 'Northgraves',
  'email': 'vnorthgraves0@japanpost.jp',
  'gender': 'Male',
  'ip_address': '182.131.114.164'},
 {'id': 2,
  'first_name': 'Valdis',
  'last_name': 'Helsdon',
  'email': 'vhelsdon1@flickr.com',
  'gender': 'Female',
  'ip_address': '89.230.232.169'},
 {'id': 3,
  'first_name': 'Valdis',
  'last_name': 'McCombe',
  'email': 'vmccombe2@squidoo.com',
  'gender': 'Male',
  'ip_address': '1.99.23.215'},
 {'id': 4,
  'first_name': 'Valdis',
  'last_name': 'Alltimes',
  'email': 'valltimes3@statcounter.com',
  'gender': 'Male',
  'ip_address': '156.132.196.74'},
 {'id': 5,
  'first_name': 'Valdis',
  'last_name': 'Joburn',
  'email': 'vjoburn4@nasa.gov',
  'gender': 'Male',
  'ip_address': '125.225.54.96'},
 {'id': 6,
  'first_name': 'Valdis',
  'last_name': 'Pethybridge',
  'email': 'vpethybridge5@macromedia.com',
  'gender': 'Female',
  'ip_address': '97.78.69.199'},
 {'id': 7,
  'first_name': 'Valdis',
  'last_name': 'Windows',
  'email': 'vwindows6@tinypic.com',
  'gender': 'Female',
  'ip_address': '223.218.19.48'},
 {'id': 8,
  'first_name': 'Valdis',
  'last_name': 'Kedslie',
  'email': 'vkedslie7@eepurl.com',
  'gender': 'Male',
  'ip_address': '57.126.72.176'},
 {'id': 9,
  'first_name': 'Valdis',
  'last_name': 'Elkin',
  'email': 'velkin8@bluehost.com',
  'gender': 'Female',
  'ip_address': '53.197.46.172'},
 {'id': 10,
  'first_name': 'Valdis',
  'last_name': 'Probets',
  'email': 'vprobets9@barnesandnoble.com',
  'gender': 'Female',
  'ip_address': '192.251.86.110'}]

In [82]:
mock.insert_many(mydata)
list(mock.find({}))

[{'_id': ObjectId('5e5a5000a857120a28e9b242'), 'Name': 'Valdis'},
 {'_id': ObjectId('5e5a504c7896ae1849982f3d'), 'Name': 'Sana'},
 {'_id': ObjectId('5e5a50531571784c5d492508'), 'Name': 'Ilze'},
 {'_id': ObjectId('5e5a50944548491d202df58b'), 'Name': 'Liene'},
 {'_id': ObjectId('5e5a50d2c529bae9183013dd'), 'Name': 'Inese'},
 {'_id': ObjectId('5e5a52594548491d202df58c'),
  'id': 1,
  'first_name': 'Liene',
  'last_name': 'Scripture',
  'email': 'lscripture0@youtube.com',
  'gender': 'Female',
  'ip_address': '125.149.30.30'},
 {'_id': ObjectId('5e5a52594548491d202df58d'),
  'id': 2,
  'first_name': 'Liene',
  'last_name': 'Paddell',
  'email': 'lpaddell1@cisco.com',
  'gender': 'Male',
  'ip_address': '42.234.106.255'},
 {'_id': ObjectId('5e5a52594548491d202df58e'),
  'id': 3,
  'first_name': 'Liene',
  'last_name': 'Inglesant',
  'email': 'linglesant2@narod.ru',
  'gender': 'Male',
  'ip_address': '24.115.166.174'},
 {'_id': ObjectId('5e5a52594548491d202df58f'),
  'id': 4,
  'first_name': 'Liene',
  'last_name': 'Crowcombe',
  'email': 'lcrowcombe3@mtv.com',
  'gender': 'Male',
  'ip_address': '124.254.87.82'},
 {'_id': ObjectId('5e5a52594548491d202df590'),
  'id': 5,
  'first_name': 'Liene',
  'last_name': 'Lambrechts',
  'email': 'llambrechts4@lulu.com',
  'gender': 'Female',
  'ip_address': '87.92.44.72'},
 {'_id': ObjectId('5e5a52594548491d202df591'),
  'id': 6,
  'first_name': 'Liene',
  'last_name': 'Goude',
  'email': 'lgoude5@sciencedirect.com',
  'gender': 'Female',
  'ip_address': '7.110.153.10'},
 {'_id': ObjectId('5e5a52594548491d202df592'),
  'id': 7,
  'first_name': 'Liene',
  'last_name': 'Rollinshaw',
  'email': 'lrollinshaw6@bing.com',
  'gender': 'Female',
  'ip_address': '33.230.251.59'},
 {'_id': ObjectId('5e5a52594548491d202df593'),
  'id': 8,
  'first_name': 'Liene',
  'last_name': 'Fakes',
  'email': 'lfakes7@live.com',
  'gender': 'Male',
  'ip_address': '70.183.249.75'},
 {'_id': ObjectId('5e5a52594548491d202df594'),
  'id': 9,
  'first_name': 'Liene',
  'last_name': 'Spray',
  'email': 'lspray8@homestead.com',
  'gender': 'Male',
  'ip_address': '47.129.27.186'},
 {'_id': ObjectId('5e5a52594548491d202df595'),
  'id': 10,
  'first_name': 'Liene',
  'last_name': 'Beardow',
  'email': 'lbeardow9@google.co.uk',
  'gender': 'Male',
  'ip_address': '36.229.202.66'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b243'),
  'id': 1,
  'first_name': 'Valdis',
  'last_name': 'Northgraves',
  'email': 'vnorthgraves0@japanpost.jp',
  'gender': 'Male',
  'ip_address': '182.131.114.164'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b244'),
  'id': 2,
  'first_name': 'Valdis',
  'last_name': 'Helsdon',
  'email': 'vhelsdon1@flickr.com',
  'gender': 'Female',
  'ip_address': '89.230.232.169'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b245'),
  'id': 3,
  'first_name': 'Valdis',
  'last_name': 'McCombe',
  'email': 'vmccombe2@squidoo.com',
  'gender': 'Male',
  'ip_address': '1.99.23.215'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b246'),
  'id': 4,
  'first_name': 'Valdis',
  'last_name': 'Alltimes',
  'email': 'valltimes3@statcounter.com',
  'gender': 'Male',
  'ip_address': '156.132.196.74'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b247'),
  'id': 5,
  'first_name': 'Valdis',
  'last_name': 'Joburn',
  'email': 'vjoburn4@nasa.gov',
  'gender': 'Male',
  'ip_address': '125.225.54.96'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b248'),
  'id': 6,
  'first_name': 'Valdis',
  'last_name': 'Pethybridge',
  'email': 'vpethybridge5@macromedia.com',
  'gender': 'Female',
  'ip_address': '97.78.69.199'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b249'),
  'id': 7,
  'first_name': 'Valdis',
  'last_name': 'Windows',
  'email': 'vwindows6@tinypic.com',
  'gender': 'Female',
  'ip_address': '223.218.19.48'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b24a'),
  'id': 8,
  'first_name': 'Valdis',
  'last_name': 'Kedslie',
  'email': 'vkedslie7@eepurl.com',
  'gender': 'Male',
  'ip_address': '57.126.72.176'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b24b'),
  'id': 9,
  'first_name': 'Valdis',
  'last_name': 'Elkin',
  'email': 'velkin8@bluehost.com',
  'gender': 'Female',
  'ip_address': '53.197.46.172'},
 {'_id': ObjectId('5e5a52f5a857120a28e9b24c'),
  'id': 10,
  'first_name': 'Valdis',
  'last_name': 'Probets',
  'email': 'vprobets9@barnesandnoble.com',
  'gender': 'Female',
  'ip_address': '192.251.86.110'}]

In [83]:
import requests

In [84]:
res = requests.get("https://api.mockaroo.com/api/c77ba780?count=1000&key=58227cb0")
res.status_code

200

In [85]:
bigdata = res.json() # requests includes json decoder.
len(bigdata)

1000

In [87]:
bigcol = db['big']
bigcol.insert_many(bigdata)

In [88]:
bigcol.count_documents({})

1000

In [99]:
mock.count_documents({})

35

In [93]:
list(mock.find({"first_name":"Liene"}))

[{'_id': ObjectId('5e5a52594548491d202df58c'),
  'id': 1,
  'first_name': 'Liene',
  'last_name': 'Scripture',
  'email': 'lscripture0@youtube.com',
  'gender': 'Female',
  'ip_address': '125.149.30.30'},
 {'_id': ObjectId('5e5a52594548491d202df58d'),
  'id': 2,
  'first_name': 'Liene',
  'last_name': 'Paddell',
  'email': 'lpaddell1@cisco.com',
  'gender': 'Male',
  'ip_address': '42.234.106.255'},
 {'_id': ObjectId('5e5a52594548491d202df58e'),
  'id': 3,
  'first_name': 'Liene',
  'last_name': 'Inglesant',
  'email': 'linglesant2@narod.ru',
  'gender': 'Male',
  'ip_address': '24.115.166.174'},
 {'_id': ObjectId('5e5a52594548491d202df58f'),
  'id': 4,
  'first_name': 'Liene',
  'last_name': 'Crowcombe',
  'email': 'lcrowcombe3@mtv.com',
  'gender': 'Male',
  'ip_address': '124.254.87.82'},
 {'_id': ObjectId('5e5a52594548491d202df590'),
  'id': 5,
  'first_name': 'Liene',
  'last_name': 'Lambrechts',
  'email': 'llambrechts4@lulu.com',
  'gender': 'Female',
  'ip_address': '87.92.44.72'},
 {'_id': ObjectId('5e5a52594548491d202df591'),
  'id': 6,
  'first_name': 'Liene',
  'last_name': 'Goude',
  'email': 'lgoude5@sciencedirect.com',
  'gender': 'Female',
  'ip_address': '7.110.153.10'},
 {'_id': ObjectId('5e5a52594548491d202df592'),
  'id': 7,
  'first_name': 'Liene',
  'last_name': 'Rollinshaw',
  'email': 'lrollinshaw6@bing.com',
  'gender': 'Female',
  'ip_address': '33.230.251.59'},
 {'_id': ObjectId('5e5a52594548491d202df593'),
  'id': 8,
  'first_name': 'Liene',
  'last_name': 'Fakes',
  'email': 'lfakes7@live.com',
  'gender': 'Male',
  'ip_address': '70.183.249.75'},
 {'_id': ObjectId('5e5a52594548491d202df594'),
  'id': 9,
  'first_name': 'Liene',
  'last_name': 'Spray',
  'email': 'lspray8@homestead.com',
  'gender': 'Male',
  'ip_address': '47.129.27.186'},
 {'_id': ObjectId('5e5a52594548491d202df595'),
  'id': 10,
  'first_name': 'Liene',
  'last_name': 'Beardow',
  'email': 'lbeardow9@google.co.uk',
  'gender': 'Male',
  'ip_address': '36.229.202.66'}]

In [106]:
users = list(mock.find({"email":{ "$exists": True }}))
len(users)

40

In [111]:
# regex matches all characters and then ends with .com 
# . means any character and \. means the dot
comusers = list(mock.find({"email": { "$regex" : ".*\.com"} }))
len(comusers)

30

In [102]:
".com" in "lspray8@homestead.com"

True

In [103]:
email = "lspray8@homestead.com"
email.endswith(".com")

True

In [105]:
comusers = []
for user in users:
    if user['email'].endswith(".com"):
        comusers.append(user)
len(comusers)

30

In [107]:
comusers = [user for user in users if user['email'].endswith(".com")]
len(comusers)

30

In [123]:
women = list(mock.find({"gender":"Female", "email": { "$regex" : ".*\.com"}}))
len(women)

13

In [124]:
# find all women with non .com emails
# 1. Find All women using MongoDP
# 2. Filter using Python to get non commercial emails
women = list(mock.find({"gender":"Female"}))
len(women)

16

In [125]:
noncom = [user for user in women if not user['email'].endswith(".com")]
noncom

[{'_id': ObjectId('5e5a55dd1571784c5d49250b'),
  'id': 3,
  'first_name': 'Ilze',
  'last_name': 'Sylvaine',
  'email': 'isylvaine2@uiuc.edu',
  'gender': 'Female',
  'ip_address': '124.141.79.153'},
 {'_id': ObjectId('5e5a567ec529bae9183013e4'),
  'id': 7,
  'first_name': 'Inese',
  'last_name': 'Pavolini',
  'email': 'ipavolini6@mail.ru',
  'gender': 'Female',
  'ip_address': '147.67.91.39'},
 {'_id': ObjectId('5e5a567ec529bae9183013e6'),
  'id': 9,
  'first_name': 'Inese',
  'last_name': 'Coneybeare',
  'email': 'iconeybeare8@vkontakte.ru',
  'gender': 'Female',
  'ip_address': '74.154.140.162'}]