# RCS Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [1]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
type(groceries)

list

In [3]:
emptylist = []
len(emptylist)

0

In [4]:
'Bread' in groceries

True

In [5]:
'Br' in groceries

False

In [6]:
'Apples'  in groceries

False

In [7]:
groceries[0]

'Bread'

In [8]:
groceries[::-1]

['Milk', 'Eggs', 'Bread']

In [9]:
"Br" in groceries[0]

True

In [10]:
"Br" in groceries

False

In [11]:
# we can call a list conversion a a string
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [12]:
name_list[3]

'd'

In [13]:
name_list[3] = 'z'

In [14]:
name_list

['V', 'a', 'l', 'z', 'i', 's']

In [15]:
str(name_list)

"['V', 'a', 'l', 'z', 'i', 's']"

In [17]:
"".join(name_list)

'Valzis'

In [21]:
mycrazystr = "|".join(name_list)
mycrazystr

'V|a|l|z|i|s'

In [23]:
crazylist = mycrazystr.split("|")
crazylist

['V', 'a', 'l', 'z', 'i', 's']

In [29]:
mysentence = "Vai R朝ga jau ir uzcelta?"
mysentence

'Vai R朝ga jau ir uzcelta?'

In [30]:
# split uses whitespace as splitter unless defined
mywords = mysentence.split()
mywords

['Vai', 'R朝ga', 'jau', 'ir', 'uzcelta?']

In [31]:
mycity = list(mywords[1])
mycity

['R', '朝', 'g', 'a']

In [32]:
list(5)

TypeError: 'int' object is not iterable

In [34]:
list("V")

['V']

In [35]:
name_list[3]

'z'

In [36]:
name_list[3]='b'
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [10]:
# this will not work as expected
str(name_list)

"['V', 'a', 'l', 'b', 'i', 's']"

In [37]:
# We can join the list back into a string 
# by using an empty string and joining our list
"".join(name_list)

'Valbis'

In [38]:
# here I create a copy of a list
glist=list(groceries)
print(glist, id(glist), id(groceries))

['Bread', 'Eggs', 'Milk'] 2706053938632 2706040826504

In [39]:
# here I just point another variable at the SAME list
glist2=groceries
print(id(glist2),id(groceries),id(glist))

2706040826504 2706040826504 2706053938632

In [40]:
groceries[2] = "Chocolate"
groceries, glist, glist2

(['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'],
 ['Bread', 'Eggs', 'Chocolate'])

In [41]:
glist == groceries

False

In [42]:
glist[2] = 'Apples'

In [43]:
glist

['Bread', 'Eggs', 'Apples']

In [21]:
groceries

['Bread', 'Eggs', 'Chocolate']

In [75]:
glist

[]

In [ ]:
glist.append()

In [90]:
# We can add new elements with append
glist.append('Peaches')
glist

['Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [81]:
mylastitem = glist.pop()
mylastitem, len(glist)

('Peaches', 0)

In [91]:
# we cut down our list
shortlist = glist[:4]
shortlist

['Peaches', 'Peaches', 'Peaches', 'Peaches']

In [92]:
shortlist[2] = "Pears"
shortlist

['Peaches', 'Peaches', 'Pears', 'Peaches']

In [94]:
glist

['Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [95]:
groceries

['Bread', 'Eggs', 'Chocolate']

In [34]:
glist == groceries

False

In [96]:
# new clear list
glist = []

In [ ]:
glist.

In [97]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [98]:
glist

[]

In [100]:
a = "abc"
print(a)
a

abc

'abc'

In [99]:
# In Place
groceries.reverse()
print(groceries)

['Chocolate', 'Eggs', 'Bread']

In [103]:
# save the new reversed list in variable reversedlist
reversedlist = groceries[::-1]
reversedlist

['Bread', 'Eggs', 'Chocolate']

In [104]:
glist, reversedlist

([], ['Bread', 'Eggs', 'Chocolate'])

In [105]:
glist = reversedlist[::-1]
glist

['Chocolate', 'Eggs', 'Bread']

In [106]:
lastelem = glist.pop()
print(lastelem)
print(glist)

Bread
['Chocolate', 'Eggs']

In [107]:
# make a blank list
newlist = []

In [108]:
nlist = [1,2,3,4,5,6]
nlist

[1, 2, 3, 4, 5, 6]

In [109]:
type(nlist)

list

In [110]:
type(nlist[3])

int

In [111]:
nlist.append("Valdis")
nlist

[1, 2, 3, 4, 5, 6, 'Valdis']

In [113]:
f20 = list(range(20))
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [114]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [116]:
x = list(range(30,51,3))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[30, 33, 36, 39, 42, 45, 48]

In [117]:
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [118]:
innerlist = mylist[4]
innerlist

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [120]:
list3 = innerlist[5]
list3, innerlist[-1]

([3, "wo'w"], [3, "wo'w"])

In [121]:
lastel=list3[-1] # here list3[1] would work as well
lastel

"wo'w"

In [122]:
lastletter = lastel[-1]
lastletter

'w'

In [126]:
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [123]:
mylist[4][5][1][3]

'w'

In [125]:
mylist[4][-1][-1][-1]

'w'

In [127]:
len(mylist)

7

In [128]:
x=list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
y = [z*z+10 for z in x]
print(y)
# List comprehensions! Pythonism! We'll talk about those again!

[11, 14, 19, 26, 35, 46, 59, 74, 91, 110]

In [130]:
sum(x),sum(y)

(55, 485)

In [131]:
len(x),len(y)

(10, 10)

In [132]:
y

[11, 14, 19, 26, 35, 46, 59, 74, 91, 110]

In [133]:
newlist = x+y
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 19, 26, 35, 46, 59, 74, 91, 110]

In [134]:
z=(x[:3]+y[-4:])*3
z

[1, 2, 3, 59, 74, 91, 110, 1, 2, 3, 59, 74, 91, 110, 1, 2, 3, 59, 74, 91, 110]

In [135]:
len(z)

21

In [136]:
z

[1, 2, 3, 59, 74, 91, 110, 1, 2, 3, 59, 74, 91, 110, 1, 2, 3, 59, 74, 91, 110]

In [140]:
z[3:10:2]

[59, 91, 1, 3]

In [141]:
z.count(110)

3

In [142]:
91 in z

True

In [143]:
z.index(74)

4

In [145]:
z.index(74, 10)

11

In [146]:
z[11]

74

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [89]:
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [147]:
y.insert(0, 33)
y

[33, 11, 14, 19, 26, 35, 46, 59, 74, 91, 110]

In [149]:
# inserting before 7th element
y.insert(6, 233)
y

[33, 11, 14, 19, 26, 35, 233, 33, 46, 59, 74, 91, 110]

In [150]:
55 in y

False

In [151]:
33 in y

True

In [152]:
y

[33, 11, 14, 19, 26, 35, 233, 33, 46, 59, 74, 91, 110]

In [154]:
y.index(19)

3

In [155]:
y[4]

26

In [156]:
y.index(33), y[0]

(0, 33)

In [106]:
# y.remove(33)
y.remove(33)
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100]

In [157]:
y.count(33)

2

In [166]:
mylist = [1,2,"Badac"]
pointer2mylist = mylist
mylist, pointer2mylist

([1, 2, 'Badac'], [1, 2, 'Badac'])

In [164]:
# .clear() clears the list and thus all pointers point to the same clean list
mylist.clear()
mylist, pointer2mylist

([], [])

In [168]:
# here mylist points to a new list, and old pointer2mylist still points to original
mylist = [1,2,"Badac"]
pointer2mylist = mylist
mylist = []
mylist, pointer2mylist

([], [1, 2, 'Badac'])

In [176]:
a = 5
a = a + 10
a

15

In [169]:
5 + 10 * 10

105

In [170]:
5 / 2

2.5

In [171]:
5 // 2

2

In [172]:
5 % 2

1

In [173]:
5**2

25

In [174]:
(3-6)*(3+2)

-15

In [191]:
a += 10 # same as a = a + 10
a

165

In [192]:
y

[11, 14, 19, 26, 35, 233, 46, 59, 74, 91, 110]

In [193]:
y += [11, -22, 66] # same as y = y + [11, -22, 66]
y

[11, 14, 19, 26, 35, 233, 46, 59, 74, 91, 110, 11, -22, 66]

In [194]:
y.append([11, -22, 66])
y

[11, 14, 19, 26, 35, 233, 46, 59, 74, 91, 110, 11, -22, 66, [11, -22, 66]]

In [197]:
y = y[:-3]
y

[11, 14, 19, 26, 35, 233, 46, 59, 74, 91, 110, 11]

In [198]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

[11, 11, 14, 19, 26, 35, 46, 59, 74, 91, 110, 233]

In [199]:
y

[11, 14, 19, 26, 35, 233, 46, 59, 74, 91, 110, 11]

In [200]:
y.sort()
y

[11, 11, 14, 19, 26, 35, 46, 59, 74, 91, 110, 233]

In [207]:
y.reverse()
y

[233, 110, 91, 74, 59, 46, 35, 26, 19, 14, 11, 11]

In [130]:
x=y[::-1]
x

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [131]:
x[5]

25

In [132]:
z=x.pop(5)
print(x, z)

[1, 4, 9, 11, 16, 33, 33, 36, 49, 64, 81, 100] 25

In [133]:
x.insert(5, z)
x

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [134]:
x.count(33)

2

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 25 to 37 (included) and assign to a variable
* output first 3 numbers
* output last 2 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [209]:
mylist = list(range(25,38))
mylist, len(mylist)

([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37], 13)

In [210]:
mylist[:3]

[25, 26, 27]

In [211]:
mylist[-2:]

[36, 37]

In [212]:
mylist[-1:-4:-1]

[37, 36, 35]

In [213]:
sum(mylist)

403

In [215]:
average = sum(mylist)/len(mylist)
average

31.0

In [216]:
int(average)

31

In [218]:
for el in mylist[:5]:
    print("Working on", el)
    # do more work here
print("All done here")

Working on 25
Working on 26
Working on 27
Working on 28
Working on 29
All done here

In [224]:
for c in "Valdis":
    print(c, end="")
    # do more stuff with c here

Valdis

In [223]:
for el in mylist:
    print("Working on", el)
    if el % 2 == 1:
        print("Got odd number!", el)
print("All done here")

Working on 25
Got odd number! 25
Working on 26
Working on 27
Got odd number! 27
Working on 28
Working on 29
Got odd number! 29
Working on 30
Working on 31
Got odd number! 31
Working on 32
Working on 33
Got odd number! 33
Working on 34
Working on 35
Got odd number! 35
Working on 36
Working on 37
Got odd number! 37
All done here