# RCS W2D2 Strings

In [1]:
mystring = "Hello"
type(mystring)

str

In [2]:
myfriend = "Jānis"
mycat = "Ņauva"
print(myfriend,mycat)

Jānis Ņauva

## Strings
* immutable
* Unicode support


* implement all common sequence operators
https://docs.python.org/3/library/stdtypes.html#typesseq-common

* string specific methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [3]:
name = "Valdis"
print(name)

Valdis

In [4]:
len(name)

6

In [5]:
len("name")

4

In [6]:
len("Valdis")

6

In [7]:
name[0]

'V'

In [8]:
name[2]

'l'

In [10]:
name[15]

IndexError: string index out of range

In [11]:
#not a good pattern! anti-pattern
name[len(name)-1]

's'

In [13]:
# we can find the last item in a sequence , in this case last item in a string
name[-1]

's'

In [14]:
name[-2]

'i'

In [4]:
len(name)

6

In [15]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [ ]:
name[-1]

In [ ]:
name[-2]

In [16]:
name[-6]

'V'

In [18]:
empty = ""

In [20]:
# Slicing syntax
# Start at 0 an go until but not including 3
name[0:3]

'Val'

In [21]:
name[:3]

'Val'

In [22]:
name[:4]

'Vald'

In [23]:
name[1:3]

'al'

In [24]:
name[1:4]

'ald'

In [25]:
name[:5]

'Valdi'

In [26]:
# we do not need to necessarily know the length of the sequence to get everything but the last element
name[:-1]

'Valdi'

In [27]:
name[:-3]

'Val'

In [28]:
name[:-6]

''

In [38]:
name[555:-1566:-1]

'sidlaV'

In [39]:
name[0:6:1], name[:]

('Valdis', 'Valdis')

In [41]:
# so
name[0:6:2], name[:6:2], name[::2]

('Vli', 'Vli', 'Vli')

In [25]:
name[-3]

'd'

In [27]:
name, name[0:6:1], name[::]

('Valdis', 'Valdis', 'Valdis')

In [28]:
name[0:6:2]

'Vli'

In [42]:
food = "kartupelis"
food[::2]

'kruei'

In [43]:
food[1::2]

'atpls'

In [44]:
name[::1]

'Valdis'

In [32]:
name[1:6:2]

'ads'

In [33]:
name[:5]

'Valdi'

In [ ]:
# Pythonic way of reersing a string

In [45]:
name[::-1]

'sidlaV'

In [46]:
food[::-1]

'sileputrak'

In [49]:
food

'kartupelis'

In [47]:
food[4::]

'upelis'

In [48]:
food[4::-1]

'utrak'

In [38]:
name[5:2:-1]

'sid'

In [50]:
name[3]='b'

TypeError: 'str' object does not support item assignment

In [51]:
#name[3]="b" # Vai tā drīkst?
newname=name[0:3]+"z"+name[4:]
print(newname)

Valzis

In [54]:
#name[3]="b" # Vai tā drīkst?
name=name[0:3]+"d"+name[4:]
print(name)

Valdis

In [57]:
mycat = "Mani sauc " + name + " un mans kaķis ir Muris"
mycat

'Mani sauc Valdis un mans kaķis ir Muris'

In [58]:
len(mycat)

39

In [59]:
n=name
n2=name
print(n2)
print(id(n2),id(name))
print(name[:])

Valdis
1503788545504 1503788545504
Valdis

In [46]:
name = "Voldemars"
print(n,n2,name)

Valdis Valdis Voldemars

In [47]:
n2 = "Something"

In [60]:
name=name[::-1]
print(name)

sidlaV

In [61]:
newline_string ="firstline\nsecondline"
print(newline_string)

firstline
secondline

In [63]:
multi_string = """Really

Long
And

Boring
String"""
print(multi_string)

Really

Long
And

Boring
String

In [51]:
mytext = 'Just a quote'
mytext

'Just a quote'

In [66]:
myquote = 'They said "It was a long and stormy night" ending the story'
print(myquote)
myquote

They said "It was a long and stormy night" ending the story

'They said "It was a long and stormy night" ending the story'

In [53]:
myquote = "Another quote\"Stormy night\" continuing the story"
myquote

'Another quote"Stormy night" continuing the story'

In [67]:
triplequote = """Somebody said 'some single quotes' un double "double quoted" and more regular text"""
print(triplequote)

Somebody said 'some single quotes' un double "double quoted" and more regular text

In [68]:
fail = """I said "something"something"""
print(fail)

I said "something"something

In [73]:
a = 55
"Valdis " + str(a)

'Valdis 55'

In [75]:
a=10.675
t="Talk "+str(a)
print(t)

Talk 10.675

In [56]:
t = "Talk "+"10"
print(t)

Talk 10

In [57]:
str(555)

'555'

In [58]:
id('25'),id(25)

(2814172811480, 140711459395136)

In [82]:
a = 5
b = a
c = b
id(a),id(b),id(c)

(140707587593152, 140707587593152, 140707587593152)

In [76]:
int('345')

345

In [77]:
int("70")

70

In [80]:
int('    70')

70

In [ ]:
?str

In [83]:
daudzalus = "Alus "*5
daudzalus

'Alus Alus Alus Alus Alus '

In [84]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [85]:
print("It's \ta \"wonderful\" \nlife")

It's 	a "wonderful"
life

In [89]:
# How to print a line which does not fit in a single line
print('Really really long line\
   mVW\
   keep writing \
   more stuff')

Really really long line   mVW   keep writing    more stuff

In [90]:
print('Alice said "hello"')

Alice said "hello"

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [91]:
newstr = f"2+2={2+2} nice isn't {name[::-1]*3}"
newstr

"2+2=4 nice isn't ValdisValdisValdis"

In [92]:
a = 5
print(f"The answer is {a}")

The answer is 5

In [93]:
weekday="Saturday"
month="January"
day=18
greeting = f"Today is {day}th of {month} which is {weekday}. Nice {month} isn't it ? "
print(greeting)
#nicer than format method

Today is 18th of January which is Saturday. Nice January isn't it ?

In [94]:
print(f"just a regular string")

just a regular string

In [95]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=4 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{9}.{6}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

Elapsed 345.24556 seconds since start of new era
Elapsed                            345.2 seconds since start of new era
Elapsed   345.246 seconds since start of new era
Number      5556.22

In [96]:
myresult = f"0.1+0.2={0.1+0.2:{4}.{4}}"
myresult

'0.1+0.2= 0.3'

In [83]:
greeting[10:33:1]

'4th of May which is Tue'

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 4th letter of your favorite
* Output all letters except first and last
* Output first 3 letters of your favorite
* Output last 2 letters of your favorite
* Output reverse of your favorite
* Output every 3rd character of your favorite in reverse

In [97]:
myfood = "hamburgeris"

In [98]:
myfood

'hamburgeris'

In [99]:
myfood[3]

'b'

In [100]:
myfood[1:-1]

'amburgeri'

In [101]:
myfood[:3]

'ham'

In [102]:
myfood[-2:]

'is'

In [103]:
myfood[::-1]

'siregrubmah'

In [104]:
myfood[::-3]

'seua'

In [106]:
bigfood = myfood.capitalize()
bigfood

'Hamburgeris'

In [ ]:
myfood.capitalize()

In [107]:
# count the number of occurences in a string
myfood.count('a')

1

In [108]:
myfood.count('r')

2

In [109]:
'u' in myfood

True

In [110]:
'fly' in myfood

False

In [111]:
'C' in myfood

False

In [112]:
'Ha' in myfood

False

In [114]:
'Ha' in bigfood

False

In [115]:
'ha' in bigfood.lower()

True

In [116]:
bigfood.upper()

'HAMBURGERIS'

In [117]:
# we can check for substring in our string
'put' in myfood

False

In [101]:
# we can check for substring in our string
'put' in bigfood

False

In [118]:
'somethinglongthatisnot' in myfood

False

In [122]:
# find first index of where the substring starts in our string
# remember we count from 0!
myfood.index('am')

1

In [105]:
myfood[myfood.index('ut'):]

'utra'

In [106]:
myfood.upper()

'PUTRA'

In [ ]:
name[0:6:1]

In [ ]:
name.lower()

In [123]:
name.isdecimal()

False

In [124]:
mytext = "vai riga ir jau uzcelta"
mytext.title()

'Vai Riga Ir Jau Uzcelta'

In [125]:
mytext.capitalize()

'Vai riga ir jau uzcelta'

In [126]:
"55555".isdecimal()

True

In [ ]:
# ourstring. then use Tab to see what functions/methods are available
# methods/functions use parenthesis "Valdis".upper()

In [110]:
'a' in str(66666)

False

In [111]:
'6' in str(66666)

True

In [127]:
mytext.isascii()

True

In [128]:
mycat.isascii()

False

In [129]:
mycat

'Mani sauc Valdis un mans kaķis ir Muris'