In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!dir *.xlsx

 Volume in drive C is Windows
 Volume Serial Number is 5AA0-2A07

 Directory of C:\Users\val-p1\Github\RCS_ML_01_20\WebScraping

02/01/2020  02:51 PM           277,342 apartments.xlsx
02/03/2020  07:17 PM           578,812 apartments_2_19_17_21.xlsx
02/03/2020  07:20 PM           274,123 apartments_2_19_20_11.xlsx
               3 File(s)      1,130,277 bytes
               0 Dir(s)  292,066,131,968 bytes free

In [3]:
df = pd.read_excel("apartments_2_19_20_11.xlsx")
df.head()

,Unnamed: 0,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €"
1,1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €"
2,2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €"
3,3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €"
4,4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €"

In [4]:
df.dtypes

Unnamed: 0      int64
URL            object
Description    object
Iela           object
Ist.           object
m2             object
Stāvs          object
Sērija         object
Cena, m2       object
Cena           object
dtype: object

In [5]:
df.describe()

        Unnamed: 0
count  2689.000000
mean   1344.000000
std     776.391761
min       0.000000
25%     672.000000
50%    1344.000000
75%    2016.000000
max    2688.000000

In [6]:
df.columns

Index(['Unnamed: 0', 'URL', 'Description', 'Iela', 'Ist.', 'm2', 'Stāvs',
       'Sērija', 'Cena, m2', 'Cena'],
      dtype='object')

In [9]:
badcolumn = df.columns[0]
badcolumn

'Unnamed: 0'

In [12]:
# how to drop a column
df = df.drop([badcolumn], axis=1)
df.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [13]:
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €"
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €"
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €"
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €"
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €"

In [18]:
df[df['Ist.'] == 'Citi']['Ist.'] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
df['Ist.'].replace(regex=r'Citi*', value=0)
df[df['Ist.'] == 'Citi']['Ist.']

16      Citi
291     Citi
342     Citi
518     Citi
554     Citi
563     Citi
692     Citi
766     Citi
2399    Citi
2439    Citi
Name: Ist., dtype: object

In [25]:
df[df['Ist.'] == 'Citi']['Ist.']

Series([], Name: Ist., dtype: object)

In [24]:
df.loc[df['Ist.'] == 'Citi', ['Ist.']] = -1
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €"
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €"
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €"
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €"
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €"

In [28]:
df.loc[df['Ist.'] == '-', ['Ist.']] = 0
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €"
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €"
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €"
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €"
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €"

In [36]:
df["Rooms"] = df[['Ist.']].apply(pd.to_numeric, errors='coerce', axis=1)
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0

In [32]:
df['Size'] = df[['m2']].apply(pd.to_numeric, errors='coerce', axis=1)
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0

In [34]:
df[df["Ist."] == "Citi"]

Empty DataFrame
Columns: [URL, Description, Iela, Ist., m2, Stāvs, Sērija, Cena, m2, Cena, Rooms, Size]
Index: []

In [40]:
df.describe()

             Rooms         Size
count  2689.000000  2687.000000
mean      2.448122    65.909937
std       1.063640    35.643997
min      -1.000000     7.000000
25%       2.000000    44.000000
50%       2.000000    58.000000
75%       3.000000    78.000000
max       6.000000   350.000000

In [39]:
indexNames = df[ df['Cena'] == 'pērku'].index
indexNames

Int64Index([], dtype='int64')

In [37]:
df['Price'] = df['Cena'].apply(lambda el: int(el.split(" ")[0].replace(',','')))
df.head()

ValueError: invalid literal for int() with base 10: 'pērku'

In [ ]:
def cleanDF(df):
    # for each price element, i split by empty space, get begging, get rid of comma, then cast to int
    df[['Stāvi', 'm2']] = df[['Stāvi', 'm2']].apply(pd.to_numeric, errors='coerce', axis=1)
    df['Price'] = df['Cena'].apply(lambda el: int(el.split(" ")[0].replace(',','')))
    # bonus, create currency column
    df['Currency'] = df['Cena'].apply(lambda el: el.split(" ")[-1])
    return df

In [ ]:
.str.extract(r'(\d+),(\d+)', expand=True)
s.head()

In [48]:
s = df['Cena'].apply(lambda x: x.replace(',',''))
s.head()

0     58000  €
1    135000  €
2     35000  €
3    190000  €
4     99000  €
Name: Cena, dtype: object

In [49]:
price = s.str.extract(r'(\d+)')
price.head()

        0
0   58000
1  135000
2   35000
3  190000
4   99000

In [50]:
len(df)

2689

In [51]:
len(price)

2689

In [52]:
df['Price'] = price
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size,Price
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0,58000
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0,135000
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0,35000
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0,190000
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0,99000

In [56]:
df.Price = df.Price.astype('float64')
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size,Price
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0,58000.0
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0,135000.0
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0,35000.0
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0,190000.0
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0,99000.0

In [57]:
df["Price/m2"] = df['Price'] / df['Size']
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size,Price,Price/m2
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0,58000.0,1260.869565
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0,135000.0,1753.246753
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0,35000.0,795.454545
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0,190000.0,1775.700935
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0,99000.0,1302.631579

In [60]:
df.iloc[0:5]['URL']

0    https://www.ss.com/msg/lv/real-estate/flats/ri...
1    https://www.ss.com/msg/lv/real-estate/flats/ri...
2    https://www.ss.com/msg/lv/real-estate/flats/ri...
3    https://www.ss.com/msg/lv/real-estate/flats/ri...
4    https://www.ss.com/msg/lv/real-estate/flats/ri...
Name: URL, dtype: object

In [61]:
df["Region"] = df['URL'].apply(lambda el: el.split("/")[-2])
df.head()

,URL,Description,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena,Rooms,Size,Price,Price/m2,Region
0,https://www.ss.com/msg/lv/real-estate/flats/ri...,Renovated 3-room apartment with an overall are...,Valdemāra 121,3,46,1/5,P. kara,"1,261 €","58,000 €",3,46.0,58000.0,1260.869565,centre
1,https://www.ss.com/msg/lv/real-estate/flats/ri...,Cena atbilst īpašuma novērtējuma summai. Pilnī...,Strēlnieku 19,3,77,1/3,P. kara,"1,753 €","135,000 €",3,77.0,135000.0,1753.246753,centre
2,https://www.ss.com/msg/lv/real-estate/flats/ri...,Divistabu dzīvoklis ar zemi īpašumā. Dzīvoklis...,Bruņinieku 78,2,44,4/4,P. kara,795 €,"35,000 €",2,44.0,35000.0,795.454545,centre
3,https://www.ss.com/msg/lv/real-estate/flats/ri...,"Divi dzīvokļi, tikko pēc remonta. Tiek pārdoti...",Barona 29,3,107,3/4,P. kara,"1,776 €","190,000 €",3,107.0,190000.0,1775.700935,centre
4,https://www.ss.com/msg/lv/real-estate/flats/ri...,Pārdod ļoti skaistu 3 istabu (76m2) dzīvokli a...,Tallinas 23,3,76,1/5,P. kara,"1,303 €","99,000 €",3,76.0,99000.0,1302.631579,centre

In [62]:
df.describe()

             Rooms         Size          Price     Price/m2
count  2689.000000  2687.000000    2685.000000  2685.000000
mean      2.448122    65.909937   90181.036127  1294.760305
std       1.063640    35.643997   73400.979021   584.719610
min      -1.000000     7.000000     250.000000     7.812500
25%       2.000000    44.000000   43000.000000   906.976744
50%       2.000000    58.000000   65000.000000  1137.254902
75%       3.000000    78.000000  118000.000000  1593.750000
max       6.000000   350.000000  650000.000000  4646.792453

In [75]:
typedf = df.groupby(['Region', 'Sērija'])
typedf.describe()

                       Rooms                                                 \
                       count      mean       std  min   25%  50%   75%  max
Region        Sērija
agenskalns    103.       3.0  2.333333  1.154701  1.0  2.00  3.0  3.00  3.0
              467.       2.0  1.500000  0.707107  1.0  1.25  1.5  1.75  2.0
              602.       1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
              Hrušč.    16.0  1.875000  0.718795  1.0  1.00  2.0  2.00  3.0
              Jaun.     24.0  2.750000  0.737210  2.0  2.00  3.0  3.00  4.0
              LT proj.   3.0  2.666667  0.577350  2.0  2.50  3.0  3.00  3.0
              P. kara   32.0  2.093750  1.399525 -1.0  1.00  2.0  2.25  6.0
              Renov.    34.0  2.647059  0.949716  1.0  2.00  2.0  3.75  4.0
              Specpr.   12.0  2.166667  0.717741  1.0  2.00  2.0  3.00  3.0
              Staļina    6.0  2.500000  0.836660  2.0  2.00  2.0  2.75  4.0
aplokciems    Hrušč.     1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
              Jaun.     11.0  2.363636  1.120065  1.0  1.50  2.0  3.00  4.0
              LT proj.   1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
beberbeki     -          1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
bergi         Hrušč.     3.0  3.000000  1.000000  2.0  2.50  3.0  3.50  4.0
              Jaun.      3.0  2.333333  0.577350  2.0  2.00  2.0  2.50  3.0
              P. kara    1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
bierini       Jaun.      3.0  2.666667  0.577350  2.0  2.50  3.0  3.00  3.0
              P. kara    1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
              Priv. m.   1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
              Renov.     1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
bolderaya     103.       6.0  1.666667  0.816497  1.0  1.00  1.5  2.00  3.0
              602.       2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
              Hrušč.     5.0  1.400000  0.547723  1.0  1.00  1.0  2.00  2.0
              LT proj.   8.0  2.375000  0.517549  2.0  2.00  2.0  3.00  3.0
              P. kara    1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
              Specpr.    5.0  1.600000  0.547723  1.0  1.00  2.0  2.00  2.0
              Staļina    6.0  2.500000  0.836660  2.0  2.00  2.0  2.75  4.0
breksi        103.       2.0  3.000000  0.000000  3.0  3.00  3.0  3.00  3.0
              Jaun.      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
...                      ...       ...       ...  ...   ...  ...   ...  ...
vecriga       Renov.    11.0  2.636364  0.504525  2.0  2.00  3.0  3.00  3.0
              Specpr.   18.0  2.166667  1.543487 -1.0  1.00  2.0  3.00  5.0
              Staļina    2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
vef           Staļina    1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
voleri        P. kara    1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
              Specpr.    2.0  1.500000  0.707107  1.0  1.25  1.5  1.75  2.0
yugla         Hrušč.    28.0  2.214286  0.786796  1.0  2.00  2.0  2.25  5.0
              Jaun.     15.0  3.133333  0.990430  2.0  2.00  3.0  4.00  5.0
              LT proj.  18.0  2.055556  0.539305  1.0  2.00  2.0  2.00  3.0
              Priv. m.   1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
              Renov.     1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
              Specpr.    9.0  2.000000  0.866025  1.0  1.00  2.0  3.00  3.0
              Čehu pr.   4.0  2.000000  0.816497  1.0  1.75  2.0  2.25  3.0
zasulauks     Jaun.      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
              P. kara    4.0  2.000000  1.154701  1.0  1.00  2.0  3.00  3.0
              Specpr.    3.0  2.666667  1.154701  2.0  2.00  2.0  3.00  4.0
              Staļina    1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
ziepniekkalns 104.       1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
              119.      21.0  2.904762  1.091089  1.0  3.00  3.0  3.00  6.0
              602.      27.0  2.222222  1.120897  1.0  1.00  2.0  3.00  5.0
              Hrušč.     9.0  1.888889  0.600925  1.0  2.00  2.0  2.00  3.0
              Jaun.     43.0  2.767442  0.684426  2.0  2.00  3.0  3.00  4.0
              LT proj.   2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
              M. ģim.    8.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
              P. kara    7.0  1.428571  0.534522  1.0  1.00  1.0  2.00  2.0
              Specpr.   13.0  2.307692  0.751068  1.0  2.00  2.0  3.00  3.0
zolitude      104.       2.0  2.000000  1.414214  1.0  1.50  2.0  2.50  3.0
              119.      42.0  2.619048  0.961513  1.0  2.00  3.0  3.00  4.0
              Jaun.     22.0  2.772727  0.972567  1.0  2.00  3.0  3.00  5.0
              Specpr.    4.0  2.500000  1.290994  1.0  1.75  2.5  3.25  4.0

                        Size              ...      Price           Price/m2  \
                       count        mean  ...        75%       max    count
Region        Sērija                      ...
agenskalns    103.       3.0   56.666667  ...   79000.00   79000.0      3.0
              467.       2.0   41.500000  ...   50750.00   55000.0      2.0
              602.       1.0   50.000000  ...   41900.00   41900.0      1.0
              Hrušč.    16.0   42.187500  ...   49875.00   75000.0     16.0
              Jaun.     24.0   87.333333  ...  176250.00  270000.0     24.0
              LT proj.   3.0   61.000000  ...   64434.00   76868.0      3.0
              P. kara   32.0   58.250000  ...   74184.25  158500.0     32.0
              Renov.    34.0   72.852941  ...  137000.00  259737.0     34.0
              Specpr.   12.0   49.333333  ...   66225.00   79000.0     12.0
              Staļina    6.0   63.000000  ...   92625.00  107500.0      6.0
aplokciems    Hrušč.     1.0   57.000000  ...   49000.00   49000.0      1.0
              Jaun.     11.0   46.636364  ...   83050.00  105000.0     11.0
              LT proj.   1.0   47.000000  ...   30000.00   30000.0      1.0
beberbeki     -          0.0         NaN  ...        NaN       NaN      0.0
bergi         Hrušč.     3.0   55.333333  ...   68000.00   76000.0      3.0
              Jaun.      3.0   92.000000  ...  102000.00  125000.0      3.0
              P. kara    1.0   25.000000  ...   21000.00   21000.0      1.0
bierini       Jaun.      3.0   79.666667  ...  124750.00  126500.0      3.0
              P. kara    1.0   25.000000  ...   33000.00   33000.0      1.0
              Priv. m.   1.0  100.000000  ...  125000.00  125000.0      1.0
              Renov.     1.0   47.000000  ...   75000.00   75000.0      1.0
bolderaya     103.       6.0   45.666667  ...   42625.00   49900.0      6.0
              602.       2.0   56.000000  ...   48550.00   52900.0      2.0
              Hrušč.     5.0   35.400000  ...   29000.00   35400.0      5.0
              LT proj.   8.0   52.750000  ...   45875.00   52000.0      8.0
              P. kara    1.0   64.000000  ...   17500.00   17500.0      1.0
              Specpr.    5.0   44.400000  ...   27000.00   40000.0      5.0
              Staļina    6.0   64.000000  ...   48675.00   80000.0      6.0
breksi        103.       2.0   66.000000  ...   44500.00   45000.0      2.0
              Jaun.      1.0   56.000000  ...   83800.00   83800.0      1.0
...                      ...         ...  ...        ...       ...      ...
vecriga       Renov.    11.0   85.818182  ...  222500.00  300000.0     11.0
              Specpr.   18.0   83.000000  ...  189992.50  474990.0     18.0
              Staļina    2.0   68.500000  ...  167500.00  190000.0      2.0
vef           Staļina    1.0   60.000000  ...   39999.00   39999.0      1.0
voleri        P. kara    1.0   59.000000  ...   27000.00   27000.0      1.0
              Specpr.    2.0   33.000000  ...   17025.00   17500.0      2.0
yugla         Hrušč.    28.0   48.714286  ...   47125.00   59000.0     28.0
              Jaun.     15.0  121.066667  ...  172500.00  200000.0     15.0
              LT proj.  18.0   46.444444  ...   46750.00   58500.0     18.0
              Priv. m.   1.0   80.000000  ...   49000.00   49000.0      1.0
              Renov.     1.0   96.000000  ...  150000.00  150000.0      1.0
              Specpr.    9.0   52.222222  ...   55000.00  145000.0      9.0
              Čehu pr.   4.0   50.750000  ...   70500.00   87000.0      4.0
zasulauks     Jaun.      1.0   68.000000  ...  105000.00  105000.0      1.0
              P. kara    4.0   43.000000  ...   62100.00  147000.0      4.0
              Specpr.    3.0   58.000000  ...   41000.00   41000.0      3.0
              Staļina    1.0   31.000000  ...   18000.00   18000.0      1.0
ziepniekkalns 104.       1.0   57.000000  ...   65000.00   65000.0      1.0
              119.      21.0   75.476190  ...   79000.00  115000.0     21.0
              602.      27.0   52.111111  ...   68000.00   79000.0     27.0
              Hrušč.     9.0   41.333333  ...   55000.00   65000.0      9.0
              Jaun.     43.0   87.465116  ...  144500.00  228000.0     43.0
              LT proj.   2.0   58.000000  ...   50477.50   51970.0      2.0
              M. ģim.    8.0   41.375000  ...   37925.00   65000.0      8.0
              P. kara    7.0   28.428571  ...   12450.00   16000.0      7.0
              Specpr.   13.0   60.000000  ...   78000.00   86000.0     13.0
zolitude      104.       2.0   60.000000  ...   64500.00   71500.0      2.0
              119.      42.0   69.333333  ...   82875.00   96000.0     42.0
              Jaun.     22.0   96.909091  ...  159750.00  260000.0     22.0
              Specpr.    4.0   85.000000  ...  158750.00  260000.0      4.0

                                                                           \
                               mean         std          min          25%
Region        Sērija
agenskalns    103.      1082.365948  167.556048   888.888889  1033.996683
              467.      1125.757576   36.426713  1100.000000  1112.878788
              602.       838.000000         NaN   838.000000   838.000000
              Hrušč.    1145.255996  124.125889   851.219512  1071.854213
              Jaun.     1785.425558  321.325461  1185.483871  1577.205882
              LT proj.   903.906003  241.590743   753.623188   764.566696
              P. kara    836.885340  408.587902   338.235294   543.559397
              Renov.    1468.482164  327.437572   700.000000  1288.616216
              Specpr.    974.257841  271.404874   557.142857   843.093093
              Staļina   1106.618798  284.668212   576.923077  1077.360140
aplokciems    Hrušč.     859.649123         NaN   859.649123   859.649123
              Jaun.     1484.361617   58.409743  1405.882353  1430.354267
              LT proj.   638.297872         NaN   638.297872   638.297872
beberbeki     -                 NaN         NaN          NaN          NaN
bergi         Hrušč.    1001.309068   76.437762   913.888889   974.185824
              Jaun.     1174.369748  528.421944   564.285714  1017.436975
              P. kara    840.000000         NaN   840.000000   840.000000
bierini       Jaun.     1432.438898  164.688203  1322.580645  1337.760911
              P. kara   1320.000000         NaN  1320.000000  1320.000000
              Priv. m.  1250.000000         NaN  1250.000000  1250.000000
              Renov.    1595.744681         NaN  1595.744681  1595.744681
bolderaya     103.       792.339230  105.462087   666.666667   737.664618
              602.       781.612903  101.275939   710.000000   745.806452
              Hrušč.     777.351668  148.154203   571.428571   705.882353
              LT proj.   749.100925  141.162815   558.163265   658.609069
              P. kara    273.437500         NaN   273.437500   273.437500
              Specpr.    532.930085  161.219671   350.810811   363.636364
              Staļina    690.231556  177.370020   533.111111   563.845209
breksi        103.       666.666667   21.427478   651.515152   659.090909
              Jaun.     1496.428571         NaN  1496.428571  1496.428571
...                             ...         ...          ...          ...
vecriga       Renov.    2431.177423  383.434760  1734.693878  2128.582595
              Specpr.   2040.589171  364.209483  1439.363636  1710.877033
              Staļina   2064.600611  481.486940  1724.137931  1894.369271
vef           Staļina    666.650000         NaN   666.650000   666.650000
voleri        P. kara    457.627119         NaN   457.627119   457.627119
              Specpr.    517.763158  151.655796   410.526316   464.144737
yugla         Hrušč.     834.618289  178.163088   320.754717   781.648936
              Jaun.     1320.957858  329.730694   555.555556  1232.937406
              LT proj.   916.829304  103.787043   712.765957   841.430260
              Priv. m.   612.500000         NaN   612.500000   612.500000
              Renov.    1562.500000         NaN  1562.500000  1562.500000
              Specpr.   1079.594802  258.439749   760.416667   909.090909
              Čehu pr.  1148.369676  172.882476   933.333333  1081.060606
zasulauks     Jaun.     1544.117647         NaN  1544.117647  1544.117647
              P. kara    873.609858  678.625941   313.636364   547.853535
              Specpr.    791.631995  377.465147   364.130435   647.974308
              Staļina    580.645161         NaN   580.645161   580.645161
ziepniekkalns 104.      1140.350877         NaN  1140.350877  1140.350877
              119.       988.108407   91.455058   809.859155   947.922078
              602.      1009.041023  106.806860   803.191489   953.870968
              Hrušč.     989.116468  278.665022   409.677419   892.857143
              Jaun.     1436.377536  174.433415  1037.313433  1318.679104
              LT proj.   843.932501   52.205633   807.017544   825.475022
              M. ģim.    936.054275  274.515435   743.023256   785.024351
              P. kara    381.389568   74.336813   286.666667   343.571429
              Specpr.   1079.576052  168.014389   804.881356   959.183673
zolitude      104.       960.000000    9.428090   953.333333   956.666667
              119.      1011.688495  133.826458   771.084337   928.644201
              Jaun.     1422.878513  225.431100   934.782609  1289.635442
              Specpr.   1415.920265  353.546296   992.307692  1192.882118


                                50%          75%          max
Region        Sērija
agenskalns    103.      1179.104478  1179.104478  1179.104478
              467.      1125.757576  1138.636364  1151.515152
              602.       838.000000   838.000000   838.000000
              Hrušč.    1157.267442  1250.000000  1306.451613
              Jaun.     1770.762712  2000.000000  2354.545455
              LT proj.   775.510204   979.047410  1182.584615
              P. kara    746.153846  1005.573936  2100.000000
              Renov.    1520.000000  1721.689895  2035.714286
              Specpr.   1030.338849  1134.191176  1413.043478
              Staļina   1178.977273  1235.397727  1407.142857
aplokciems    Hrušč.     859.649123   859.649123   859.649123
              Jaun.     1500.000000  1523.973064  1583.750000
              LT proj.   638.297872   638.297872   638.297872
beberbeki     -                 NaN          NaN          NaN
bergi         Hrušč.    1034.482759  1045.019157  1055.555556
              Jaun.     1470.588235  1479.411765  1488.235294
              P. kara    840.000000   840.000000   840.000000
bierini       Jaun.     1352.941176  1487.368024  1621.794872
              P. kara   1320.000000  1320.000000  1320.000000
              Priv. m.  1250.000000  1250.000000  1250.000000
              Renov.    1595.744681  1595.744681  1595.744681
bolderaya     103.       769.446883   830.473856   970.588235
              602.       781.612903   817.419355   853.225806
              Hrušč.     804.545455   838.235294   966.666667
              LT proj.   703.556423   854.591837   962.962963
              P. kara    273.437500   273.437500   273.437500
              Specpr.    625.000000   658.536585   666.666667
              Staļina    634.554054   759.309406   998.000000
breksi        103.       666.666667   674.242424   681.818182
              Jaun.     1496.428571  1496.428571  1496.428571
...                             ...          ...          ...
vecriga       Renov.    2400.000000  2763.636364  2881.355932
              Specpr.   2086.821970  2216.199534  2709.354839
              Staļina   2064.600611  2234.831951  2405.063291
vef           Staļina    666.650000   666.650000   666.650000
voleri        P. kara    457.627119   457.627119   457.627119
              Specpr.    517.763158   571.381579   625.000000
yugla         Hrušč.     860.675625   933.695652  1079.545455
              Jaun.     1274.509804  1522.240991  1789.473684
              LT proj.   910.101010   975.709220  1108.695652
              Priv. m.   612.500000   612.500000   612.500000
              Renov.    1562.500000  1562.500000  1562.500000
              Specpr.    916.666667  1324.324324  1464.646465
              Čehu pr.  1152.989353  1220.298423  1354.166667
zasulauks     Jaun.     1544.117647  1544.117647  1544.117647
              P. kara    660.021786   985.778109  1860.759494
              Specpr.    931.818182  1005.382775  1078.947368
              Staļina    580.645161   580.645161   580.645161
ziepniekkalns 104.      1140.350877  1140.350877  1140.350877
              119.       974.025974  1016.279070  1207.792208
              602.      1000.000000  1063.508065  1253.968254
              Hrušč.     975.609756  1075.000000  1354.166667
              Jaun.     1415.584416  1572.126187  1733.333333
              LT proj.   843.932501   862.389979   880.847458
              M. ģim.    848.813131   935.937500  1585.365854
              P. kara    362.068966   424.500000   484.848485
              Specpr.   1082.191781  1178.082192  1406.250000
zolitude      104.       960.000000   963.333333   966.666667
              119.      1006.172840  1066.393443  1448.275862
              Jaun.     1452.041233  1604.407396  1775.862069
              Specpr.   1463.203463  1686.241611  1744.966443

[268 rows x 32 columns]

In [77]:
typedf.describe().to_excel("apartments_by_type.xlsx")

In [63]:
rdf = df.groupby(['Region'])
rdf.describe()

                         Rooms                                                 \
                         count      mean       std  min   25%  50%   75%  max
Region
agenskalns               133.0  2.360902  1.024979 -1.0  2.00  2.0  3.00  6.0
aplokciems                13.0  2.384615  1.043908  1.0  2.00  2.0  3.00  4.0
beberbeki                  1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
bergi                      7.0  2.428571  0.975900  1.0  2.00  2.0  3.00  4.0
bierini                    6.0  2.500000  1.048809  1.0  2.00  2.5  3.00  4.0
bolderaya                 33.0  2.030303  0.769937  1.0  2.00  2.0  2.00  4.0
breksi                     3.0  2.666667  0.577350  2.0  2.50  3.0  3.00  3.0
bukulti                    2.0  3.500000  0.707107  3.0  3.25  3.5  3.75  4.0
bulli                      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
centre                   754.0  2.714854  1.255899 -1.0  2.00  3.0  3.00  6.0
chiekurkalns              29.0  1.965517  0.731083  1.0  1.00  2.0  2.00  3.0
darzciems                 36.0  2.111111  0.918937  1.0  1.00  2.0  3.00  4.0
daugavgriva               20.0  2.050000  0.686333  1.0  2.00  2.0  2.25  3.0
dreilini                   2.0  3.500000  0.707107  3.0  3.25  3.5  3.75  4.0
dzeguzhkalns              35.0  2.314286  0.758149  1.0  2.00  2.0  3.00  4.0
grizinkalns               18.0  2.166667  0.985184  1.0  1.25  2.0  3.00  4.0
ilguciems                 69.0  2.130435  0.838645  1.0  2.00  2.0  3.00  4.0
imanta                   144.0  2.506944  0.738516  1.0  2.00  2.5  3.00  4.0
janjavarti                 1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
jaunciems                  4.0  1.500000  0.577350  1.0  1.00  1.5  2.00  2.0
jaunmilgravis              2.0  1.500000  0.707107  1.0  1.25  1.5  1.75  2.0
katlakalns                 3.0  1.666667  0.577350  1.0  1.50  2.0  2.00  2.0
kengarags                144.0  2.215278  0.776969  1.0  2.00  2.0  3.00  4.0
kipsala                   17.0  2.823529  0.635934  2.0  2.00  3.0  3.00  4.0
kleisti                    3.0  2.666667  0.577350  2.0  2.50  3.0  3.00  3.0
kliversala                 8.0  3.000000  1.309307  2.0  2.00  3.0  3.00  6.0
krasta-st-area            23.0  2.478261  0.947224  1.0  2.00  2.0  3.00  4.0
kundzinsala                1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
mangali                   15.0  1.800000  0.560612  1.0  1.50  2.0  2.00  3.0
mangalsala                 4.0  1.500000  0.577350  1.0  1.00  1.5  2.00  2.0
maskavas-priekshpilseta   38.0  1.842105  0.855074  1.0  1.00  2.0  2.00  4.0
mezhapark                 27.0  2.703704  1.067521  1.0  2.00  3.0  3.00  6.0
mezhciems                 78.0  2.730769  0.935214  1.0  2.00  3.0  3.00  5.0
other                      2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
plyavnieki               136.0  2.352941  1.057806  1.0  1.00  2.0  3.00  5.0
purvciems                243.0  2.370370  0.906056  1.0  2.00  2.0  3.00  4.0
sarkandaugava             51.0  1.941176  0.881176  1.0  1.00  2.0  3.00  4.0
shampeteris-pleskodale    34.0  2.382353  1.101368  1.0  1.25  2.0  3.00  4.0
shkirotava                12.0  2.333333  0.984732  1.0  1.75  2.5  3.00  4.0
stacija-tirgus             2.0  3.000000  4.242641  0.0  1.50  3.0  4.50  6.0
teika                     76.0  2.684211  1.157129  1.0  2.00  3.0  3.00  5.0
tornjakalns               15.0  2.200000  0.941124  1.0  1.50  2.0  3.00  4.0
vecmilgravis              85.0  2.094118  0.907948 -1.0  2.00  2.0  3.00  6.0
vecriga                   69.0  2.492754  1.220212 -1.0  1.00  3.0  3.00  5.0
vef                        1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
voleri                     3.0  1.666667  0.577350  1.0  1.50  2.0  2.00  2.0
yugla                     76.0  2.355263  0.890003  1.0  2.00  2.0  3.00  5.0
zasulauks                  9.0  2.111111  1.054093  1.0  1.00  2.0  3.00  4.0
ziepniekkalns            131.0  2.381679  0.980251  1.0  2.00  2.0  3.00  6.0
zolitude                  70.0  2.642857  0.978548  1.0  2.00  3.0  3.00  5.0

                          Size              ...      Price           Price/m2  \
                         count        mean  ...        75%       max    count
Region                                      ...
agenskalns               133.0   64.421053  ...  105000.00  270000.0    133.0
aplokciems                13.0   47.461538  ...   83000.00  105000.0     13.0
beberbeki                  0.0         NaN  ...        NaN       NaN      0.0
bergi                      7.0   66.714286  ...   77500.00  125000.0      7.0
bierini                    6.0   68.500000  ...  124500.00  126500.0      6.0
bolderaya                 33.0   50.151515  ...   45000.00   80000.0     33.0
breksi                     3.0   62.666667  ...   64400.00   83800.0      3.0
bukulti                    2.0  153.000000  ...  207250.00  210000.0      2.0
bulli                      1.0  159.000000  ...   98000.00   98000.0      1.0
centre                   754.0   78.974801  ...  177375.00  650000.0    754.0
chiekurkalns              29.0   48.034483  ...   76000.00  135000.0     29.0
darzciems                 36.0   53.722222  ...   61375.00  137000.0     36.0
daugavgriva               20.0   50.100000  ...   39725.00   50000.0     20.0
dreilini                   2.0   82.000000  ...  120250.00  130000.0      2.0
dzeguzhkalns              35.0   57.971429  ...   90075.00  177000.0     35.0
grizinkalns               18.0   51.222222  ...  123750.00  200000.0     18.0
ilguciems                 69.0   52.565217  ...   52800.00  162000.0     69.0
imanta                   144.0   61.916667  ...   89924.75  220000.0    144.0
janjavarti                 0.0         NaN  ...        NaN       NaN      0.0
jaunciems                  4.0   33.750000  ...   25625.00   41000.0      4.0
jaunmilgravis              2.0   32.500000  ...   12375.00   12500.0      2.0
katlakalns                 3.0   41.000000  ...   65000.00   68000.0      3.0
kengarags                144.0   49.076389  ...   54125.00  155000.0    144.0
kipsala                   17.0   99.764706  ...  330000.00  450000.0     17.0
kleisti                    3.0   82.333333  ...  114750.00  126000.0      3.0
kliversala                 8.0   94.125000  ...  186250.00  225000.0      8.0
krasta-st-area            23.0   58.521739  ...   77000.00  155000.0     23.0
kundzinsala                1.0   32.000000  ...     250.00     250.0      1.0
mangali                   15.0   44.733333  ...   44875.00   90628.0     15.0
mangalsala                 4.0   41.750000  ...   32750.00   38000.0      4.0
maskavas-priekshpilseta   38.0   47.500000  ...   63725.00  104000.0     38.0
mezhapark                 27.0   86.740741  ...  182400.00  278000.0     27.0
mezhciems                 78.0   67.500000  ...   99425.00  250000.0     78.0
other                      2.0   67.000000  ...  217500.00  260000.0      2.0
plyavnieki               136.0   58.698529  ...   72250.00  199000.0    136.0
purvciems                243.0   59.691358  ...   80950.00  229000.0    243.0
sarkandaugava             51.0   45.764706  ...   59250.00   99000.0     51.0
shampeteris-pleskodale    34.0   67.352941  ...  140834.00  195000.0     34.0
shkirotava                12.0   50.583333  ...   39500.00   96000.0     12.0
stacija-tirgus             2.0   14.500000  ...        NaN       NaN      0.0
teika                     76.0   69.539474  ...  121000.00  205000.0     76.0
tornjakalns               15.0   53.533333  ...   72500.00  165000.0     15.0
vecmilgravis              85.0   52.035294  ...   47000.00  250000.0     85.0
vecriga                   69.0   79.434783  ...  220000.00  474990.0     69.0
vef                        1.0   60.000000  ...   39999.00   39999.0      1.0
voleri                     3.0   41.666667  ...   22250.00   27000.0      3.0
yugla                     76.0   64.013158  ...   62750.00  200000.0     76.0
zasulauks                  9.0   49.444444  ...   41000.00  147000.0      9.0
ziepniekkalns            131.0   65.709924  ...   94500.00  228000.0    131.0
zolitude                  70.0   78.628571  ...   97920.00  260000.0     70.0

                                                                             \
                                mean          std          min          25%
Region
agenskalns               1242.572719   464.836669   338.235294   925.925926
aplokciems               1371.224983   284.869541   638.297872  1418.181818
beberbeki                        NaN          NaN          NaN          NaN
bergi                    1052.433778   333.596419   564.285714   876.944444
bierini                  1410.510229   157.451227  1250.000000  1320.645161
bolderaya                 705.342551   175.824414   273.437500   625.000000
breksi                    943.253968   479.302801   651.515152   666.666667
bukulti                  1339.206295   112.730674  1259.493671  1299.349983
bulli                     616.352201          NaN   616.352201   616.352201
centre                   1717.690402   642.091397   119.754491  1264.828739
chiekurkalns             1166.911740   460.807879   282.916667   918.000000
darzciems                 936.986031   278.807542   315.789474   784.798535
daugavgriva               669.744297   169.808821   279.833333   605.959503
dreilini                 1339.147287   243.924432  1166.666667  1252.906977
dzeguzhkalns             1148.298989   385.699156   378.048780   887.500000
grizinkalns              1663.347078   531.936627   640.000000  1401.219605
ilguciems                 947.091823   245.611795   282.500000   813.953488
imanta                   1176.931356   368.029014   661.764706   907.587719
janjavarti                       NaN          NaN          NaN          NaN
jaunciems                 589.928451   365.783725   267.954545   297.613636
jaunmilgravis             380.507663    47.072722   347.222222   363.864943
katlakalns               1063.159519   209.462305   842.500000   965.109649
kengarags                 937.934604   199.972511   293.529412   830.381356
kipsala                  2829.550527   559.866466  1736.956522  2500.000000
kleisti                  1355.698296   125.068966  1247.524752  1287.223915
kliversala               1740.427652   691.303323   986.842105  1180.500249
krasta-st-area            967.210116   304.863013   376.923077   802.003205
kundzinsala                 7.812500          NaN     7.812500     7.812500
mangali                   801.257101   269.322526   287.500000   687.805730
mangalsala                681.217384   201.294596   395.348837   626.614987
maskavas-priekshpilseta   958.088433   318.715353   296.333333   730.208333
mezhapark                1559.148836   582.155172   799.714286  1062.943262
mezhciems                1197.669032   305.061303   567.567568   979.663394
other                    2463.751438  1170.103051  1636.363636  2050.057537
plyavnieki               1040.782234   243.671990   529.411765   891.521659
purvciems                1104.702564   307.085835   340.000000   914.113475
sarkandaugava             857.238662   254.186072   318.918919   742.346939
shampeteris-pleskodale   1211.996743   406.508708   440.000000   944.908641
shkirotava                624.990299   324.036649   288.076923   339.061562
stacija-tirgus                   NaN          NaN          NaN          NaN
teika                    1245.008602   371.907281   538.461538   995.283019
tornjakalns               898.359939   404.226709   348.484848   609.092141
vecmilgravis              769.934081   279.749365   153.061224   633.928571
vecriga                  2227.770236   482.206144  1401.574803  1865.671642
vef                       666.650000          NaN   666.650000   666.650000
voleri                    497.717811   112.717293   410.526316   434.076717
yugla                    1002.255781   288.283736   320.754717   840.064912
zasulauks                 888.233136   526.807001   313.636364   580.645161
ziepniekkalns            1112.072765   312.268596   286.666667   947.086039
zolitude                 1162.541788   268.172902   771.084337   960.087719


                                 50%          75%          max
Region
agenskalns               1216.666667  1557.971014  2354.545455
aplokciems               1467.391304  1510.909091  1583.750000
beberbeki                        NaN          NaN          NaN
bergi                    1034.482759  1263.071895  1488.235294
bierini                  1337.760911  1535.043805  1621.794872
bolderaya                 705.882353   833.333333   998.000000
breksi                    681.818182  1089.123377  1496.428571
bukulti                  1339.206295  1379.062607  1418.918919
bulli                     616.352201   616.352201   616.352201
centre                   1669.444444  2136.638177  4646.792453
chiekurkalns             1111.111111  1463.333333  2000.000000
darzciems                 911.234851  1128.180039  1734.177215
daugavgriva               675.724638   774.360795  1021.951220
dreilini                 1339.147287  1425.387597  1511.627907
dzeguzhkalns             1020.408163  1399.346405  2011.363636
grizinkalns              1701.063830  2000.000000  2926.829268
ilguciems                 918.367347  1054.545455  1726.190476
imanta                   1037.702747  1367.466518  2198.000000
janjavarti                       NaN          NaN          NaN
jaunciems                 533.379630   825.694444  1025.000000
jaunmilgravis             380.507663   397.150383   413.793103
katlakalns               1087.719298  1173.489279  1259.259259
kengarags                 929.285714  1021.650327  1788.461538
kipsala                  3000.000000  3291.139241  3461.538462
kleisti                  1326.923077  1409.785068  1492.647059
kliversala               1729.381443  2020.161290  3083.333333
krasta-st-area            931.034483  1086.491228  1657.534247
kundzinsala                 7.812500     7.812500     7.812500
mangali                   858.139535   885.584021  1394.276923
mangalsala                734.204793   788.807190   861.111111
maskavas-priekshpilseta  1014.705882  1201.788194  1491.803279
mezhapark                1500.000000  1862.107445  2770.491803
mezhciems                1206.317204  1340.505115  2192.982456
other                    2463.751438  2877.445339  3291.139241
plyavnieki                969.923112  1133.578431  1849.253731
purvciems                1025.641026  1200.735579  2380.952381
sarkandaugava             896.969697   998.837209  1741.860465
shampeteris-pleskodale   1175.651393  1585.198210  2013.888889
shkirotava                557.565789   896.258008  1204.545455
stacija-tirgus                   NaN          NaN          NaN
teika                    1190.476190  1505.376344  2083.333333
tornjakalns               880.847458  1239.204377  1621.621622
vecmilgravis              735.294118   920.978261  1484.848485
vecriga                  2178.217822  2472.222222  3332.666667
vef                       666.650000   666.650000   666.650000
voleri                    457.627119   541.313559   625.000000
yugla                     927.338501  1166.011942  1789.473684
zasulauks                 694.117647  1078.947368  1860.759494
ziepniekkalns            1052.000000  1345.538721  1733.333333
zolitude                 1064.838167  1338.517597  1775.862069

[50 rows x 32 columns]

In [65]:
rdf.describe().to_excel("region_pricing.xlsx")

In [67]:
sdf = rdf.describe()[("Price/m2")]
sdf

,count,mean,std,min,25%,50%,75%,max
Region,,,,,,,,
agenskalns,133.0,1242.572719,464.836669,338.235294,925.925926,1216.666667,1557.971014,2354.545455
aplokciems,13.0,1371.224983,284.869541,638.297872,1418.181818,1467.391304,1510.909091,1583.750000
beberbeki,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bergi,7.0,1052.433778,333.596419,564.285714,876.944444,1034.482759,1263.071895,1488.235294
bierini,6.0,1410.510229,157.451227,1250.000000,1320.645161,1337.760911,1535.043805,1621.794872
bolderaya,33.0,705.342551,175.824414,273.437500,625.000000,705.882353,833.333333,998.000000
breksi,3.0,943.253968,479.302801,651.515152,666.666667,681.818182,1089.123377,1496.428571
bukulti,2.0,1339.206295,112.730674,1259.493671,1299.349983,1339.206295,1379.062607,1418.918919
bulli,1.0,616.352201,NaN,616.352201,616.352201,616.352201,616.352201,616.352201
centre,754.0,1717.690402,642.091397,119.754491,1264.828739,1669.444444,2136.638177,4646.792453
chiekurkalns,29.0,1166.911740,460.807879,282.916667,918.000000,1111.111111,1463.333333,2000.000000
darzciems,36.0,936.986031,278.807542,315.789474,784.798535,911.234851,1128.180039,1734.177215
daugavgriva,20.0,669.744297,169.808821,279.833333,605.959503,675.724638,774.360795,1021.951220
dreilini,2.0,1339.147287,243.924432,1166.666667,1252.906977,1339.147287,1425.387597,1511.627907
dzeguzhkalns,35.0,1148.298989,385.699156,378.048780,887.500000,1020.408163,1399.346405,2011.363636
grizinkalns,18.0,1663.347078,531.936627,640.000000,1401.219605,1701.063830,2000.000000,2926.829268
ilguciems,69.0,947.091823,245.611795,282.500000,813.953488,918.367347,1054.545455,1726.190476
imanta,144.0,1176.931356,368.029014,661.764706,907.587719,1037.702747,1367.466518,2198.000000
janjavarti,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jaunciems,4.0,589.928451,365.783725,267.954545,297.613636,533.379630,825.694444,1025.000000
jaunmilgravis,2.0,380.507663,47.072722,347.222222,363.864943,380.507663,397.150383,413.793103
katlakalns,3.0,1063.159519,209.462305,842.500000,965.109649,1087.719298,1173.489279,1259.259259
kengarags,144.0,937.934604,199.972511,293.529412,830.381356,929.285714,1021.650327,1788.461538
kipsala,17.0,2829.550527,559.866466,1736.956522,2500.000000,3000.000000,3291.139241,3461.538462
kleisti,3.0,1355.698296,125.068966,1247.524752,1287.223915,1326.923077,1409.785068,1492.647059
kliversala,8.0,1740.427652,691.303323,986.842105,1180.500249,1729.381443,2020.161290,3083.333333
krasta-st-area,23.0,967.210116,304.863013,376.923077,802.003205,931.034483,1086.491228,1657.534247
kundzinsala,1.0,7.812500,NaN,7.812500,7.812500,7.812500,7.812500,7.812500
mangali,15.0,801.257101,269.322526,287.500000,687.805730,858.139535,885.584021,1394.276923
mangalsala,4.0,681.217384,201.294596,395.348837,626.614987,734.204793,788.807190,861.111111
maskavas-priekshpilseta,38.0,958.088433,318.715353,296.333333,730.208333,1014.705882,1201.788194,1491.803279
mezhapark,27.0,1559.148836,582.155172,799.714286,1062.943262,1500.000000,1862.107445,2770.491803
mezhciems,78.0,1197.669032,305.061303,567.567568,979.663394,1206.317204,1340.505115,2192.982456
other,2.0,2463.751438,1170.103051,1636.363636,2050.057537,2463.751438,2877.445339,3291.139241
plyavnieki,136.0,1040.782234,243.671990,529.411765,891.521659,969.923112,1133.578431,1849.253731
purvciems,243.0,1104.702564,307.085835,340.000000,914.113475,1025.641026,1200.735579,2380.952381
sarkandaugava,51.0,857.238662,254.186072,318.918919,742.346939,896.969697,998.837209,1741.860465
shampeteris-pleskodale,34.0,1211.996743,406.508708,440.000000,944.908641,1175.651393,1585.198210,2013.888889
shkirotava,12.0,624.990299,324.036649,288.076923,339.061562,557.565789,896.258008,1204.545455
stacija-tirgus,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teika,76.0,1245.008602,371.907281,538.461538,995.283019,1190.476190,1505.376344,2083.333333
tornjakalns,15.0,898.359939,404.226709,348.484848,609.092141,880.847458,1239.204377,1621.621622
vecmilgravis,85.0,769.934081,279.749365,153.061224,633.928571,735.294118,920.978261,1484.848485
vecriga,69.0,2227.770236,482.206144,1401.574803,1865.671642,2178.217822,2472.222222,3332.666667
vef,1.0,666.650000,NaN,666.650000,666.650000,666.650000,666.650000,666.650000
voleri,3.0,497.717811,112.717293,410.526316,434.076717,457.627119,541.313559,625.000000
yugla,76.0,1002.255781,288.283736,320.754717,840.064912,927.338501,1166.011942,1789.473684
zasulauks,9.0,888.233136,526.807001,313.636364,580.645161,694.117647,1078.947368,1860.759494
ziepniekkalns,131.0,1112.072765,312.268596,286.666667,947.086039,1052.000000,1345.538721,1733.333333
zolitude,70.0,1162.541788,268.172902,771.084337,960.087719,1064.838167,1338.517597,1775.862069

In [69]:
type(sdf)

pandas.core.frame.DataFrame

In [73]:
sdf.sort_values(by='mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
Region,,,,,,,,
kipsala,17.0,2829.550527,559.866466,1736.956522,2500.000000,3000.000000,3291.139241,3461.538462
other,2.0,2463.751438,1170.103051,1636.363636,2050.057537,2463.751438,2877.445339,3291.139241
vecriga,69.0,2227.770236,482.206144,1401.574803,1865.671642,2178.217822,2472.222222,3332.666667
kliversala,8.0,1740.427652,691.303323,986.842105,1180.500249,1729.381443,2020.161290,3083.333333
centre,754.0,1717.690402,642.091397,119.754491,1264.828739,1669.444444,2136.638177,4646.792453
grizinkalns,18.0,1663.347078,531.936627,640.000000,1401.219605,1701.063830,2000.000000,2926.829268
mezhapark,27.0,1559.148836,582.155172,799.714286,1062.943262,1500.000000,1862.107445,2770.491803
bierini,6.0,1410.510229,157.451227,1250.000000,1320.645161,1337.760911,1535.043805,1621.794872
aplokciems,13.0,1371.224983,284.869541,638.297872,1418.181818,1467.391304,1510.909091,1583.750000
kleisti,3.0,1355.698296,125.068966,1247.524752,1287.223915,1326.923077,1409.785068,1492.647059
bukulti,2.0,1339.206295,112.730674,1259.493671,1299.349983,1339.206295,1379.062607,1418.918919
dreilini,2.0,1339.147287,243.924432,1166.666667,1252.906977,1339.147287,1425.387597,1511.627907
teika,76.0,1245.008602,371.907281,538.461538,995.283019,1190.476190,1505.376344,2083.333333
agenskalns,133.0,1242.572719,464.836669,338.235294,925.925926,1216.666667,1557.971014,2354.545455
shampeteris-pleskodale,34.0,1211.996743,406.508708,440.000000,944.908641,1175.651393,1585.198210,2013.888889
mezhciems,78.0,1197.669032,305.061303,567.567568,979.663394,1206.317204,1340.505115,2192.982456
imanta,144.0,1176.931356,368.029014,661.764706,907.587719,1037.702747,1367.466518,2198.000000
chiekurkalns,29.0,1166.911740,460.807879,282.916667,918.000000,1111.111111,1463.333333,2000.000000
zolitude,70.0,1162.541788,268.172902,771.084337,960.087719,1064.838167,1338.517597,1775.862069
dzeguzhkalns,35.0,1148.298989,385.699156,378.048780,887.500000,1020.408163,1399.346405,2011.363636
ziepniekkalns,131.0,1112.072765,312.268596,286.666667,947.086039,1052.000000,1345.538721,1733.333333
purvciems,243.0,1104.702564,307.085835,340.000000,914.113475,1025.641026,1200.735579,2380.952381
katlakalns,3.0,1063.159519,209.462305,842.500000,965.109649,1087.719298,1173.489279,1259.259259
bergi,7.0,1052.433778,333.596419,564.285714,876.944444,1034.482759,1263.071895,1488.235294
plyavnieki,136.0,1040.782234,243.671990,529.411765,891.521659,969.923112,1133.578431,1849.253731
yugla,76.0,1002.255781,288.283736,320.754717,840.064912,927.338501,1166.011942,1789.473684
krasta-st-area,23.0,967.210116,304.863013,376.923077,802.003205,931.034483,1086.491228,1657.534247
maskavas-priekshpilseta,38.0,958.088433,318.715353,296.333333,730.208333,1014.705882,1201.788194,1491.803279
ilguciems,69.0,947.091823,245.611795,282.500000,813.953488,918.367347,1054.545455,1726.190476
breksi,3.0,943.253968,479.302801,651.515152,666.666667,681.818182,1089.123377,1496.428571
kengarags,144.0,937.934604,199.972511,293.529412,830.381356,929.285714,1021.650327,1788.461538
darzciems,36.0,936.986031,278.807542,315.789474,784.798535,911.234851,1128.180039,1734.177215
tornjakalns,15.0,898.359939,404.226709,348.484848,609.092141,880.847458,1239.204377,1621.621622
zasulauks,9.0,888.233136,526.807001,313.636364,580.645161,694.117647,1078.947368,1860.759494
sarkandaugava,51.0,857.238662,254.186072,318.918919,742.346939,896.969697,998.837209,1741.860465
mangali,15.0,801.257101,269.322526,287.500000,687.805730,858.139535,885.584021,1394.276923
vecmilgravis,85.0,769.934081,279.749365,153.061224,633.928571,735.294118,920.978261,1484.848485
bolderaya,33.0,705.342551,175.824414,273.437500,625.000000,705.882353,833.333333,998.000000
mangalsala,4.0,681.217384,201.294596,395.348837,626.614987,734.204793,788.807190,861.111111
daugavgriva,20.0,669.744297,169.808821,279.833333,605.959503,675.724638,774.360795,1021.951220
vef,1.0,666.650000,NaN,666.650000,666.650000,666.650000,666.650000,666.650000
shkirotava,12.0,624.990299,324.036649,288.076923,339.061562,557.565789,896.258008,1204.545455
bulli,1.0,616.352201,NaN,616.352201,616.352201,616.352201,616.352201,616.352201
jaunciems,4.0,589.928451,365.783725,267.954545,297.613636,533.379630,825.694444,1025.000000
voleri,3.0,497.717811,112.717293,410.526316,434.076717,457.627119,541.313559,625.000000
jaunmilgravis,2.0,380.507663,47.072722,347.222222,363.864943,380.507663,397.150383,413.793103
kundzinsala,1.0,7.812500,NaN,7.812500,7.812500,7.812500,7.812500,7.812500
beberbeki,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
janjavarti,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stacija-tirgus,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN